{{ define "main" }}
  <article class="o-list o-list__container">
    <h1 data-pagefind-meta="title">{{ .Title }}</h1>
    {{ .Content }}
    <ul class="o-list__list">
      {{ range .Pages }}
        <li class="o-list__list-item o-list__list-item--operator">
          <a href="{{ .RelPermalink }}" class="o-list__link">
            <div class="o-list__picture">
              {{ partial "operator-logo" (dict "operator" .File.ContentBaseName) }}
            </div>
            <div>
              {{ .Title }}
            </div>
          </a>
        </li>
      {{ end }}
    </ul>
  </article>
{{ end }}
