{{ define "main" }}
<div class="container o-list">
  <div class="row">
    {{ $path := .RelPermalink }}
    {{ $cleanPath := replaceRE "^/[^/]+/" "/" $path }}
    {{ $key := printf "%s_list_title" (replace $cleanPath "/" "_" -1) }}
    <h2 data-pagefind-meta="title">{{ i18n $key }}</h2>
    <p>
      {{ T "list-disclaimer"}}
      <a href="https://github.com/orgs/fipguide/projects/3">{{ T "list-disclaimer-link"}}</a>.
    </p>
  </div>
  <div class="row">
    {{ .Content }}
    <ul class="o-list__link-wrapper row">
      {{ range .Pages }}
    <li class="col-12 col-lg-3 col-sm-6">
      {{ partial "operator-list-item" . }}
    </li>
    {{ end }}
    </ul>
  </div>
</div>
{{ end }}