{{ define "main" }}
<article class="single-container">
    <div class="o-single sidemenu">
        {{ partial "sidemenu.html" . }}
    </div>
    <div class="o-single main">
        <h2 data-pagefind-meta="title">{{ .Title }}</h2>
        {{ partial "updateDate.html" . }}

        <div class="content" data-pagefind-weight="2">
            {{ .Content }}
        </div>
    </div>

    {{ partial "related.html" . }}
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
</article>
{{ end }}