{{ define "main" }}
  <div class="o-list o-list__container">
    <h1 data-pagefind-meta="title">{{ .Title }}</h1>
      {{ .Content }}
      <ul aria-labelledby="booking-title">
        {{ range .Pages }}
        <li>
          <a href="{{ .RelPermalink }}" class="m-teaser m-teaser--listview">
            <div>
              <h2 class="m-teaser__headline">{{ .Title }}</h2>
              <div class="m-teaser__text">
                {{ .Summary | plainify | truncate 100 }}
              </div>
            </div>
          </a>
        </li>
        {{ end }}
      </ul>
  </div>
{{ end }}
