{{ define "main" }}
  <article data-pagefind-ignore class="o-single o-single--with-sidemenu">
    <aside id="aside" class="o-aside">
      <div class="o-single__container">
        {{ partial "related" (dict "index" "booking" "title" (T "related.booking") "page" . "identifier" "booking") "pageType" "booking" }}
        <hr aria-hidden="true" />
        {{ partial "link"
          (dict
          "Destination" (print .Site.Params.githubDevUrl "blob/main/content" .Path "/index." .Language ".md")
          "Text" ((print (partial "icon" "edit_square") (T "editPage")) | safeHTML)
          )
        }}
      </div>
    </aside>
    <div class="o-single__container">
      <div class="o-single__header">
        <h1>{{ .Title }}</h1>
      </div>

      <div class="o-single__content">
        {{ .Content }}
      </div>

      {{ partial "booking-links" . }}
    </div>
  </article>
{{ end }}
