{{- $iconMapping := dict "website" "computer" "phone" "call" "onsite" "person" "email" "mail" "machine" "confirmation_number" "socialmedia" "add_reaction" -}}
<summary class="o-expander__summary o-expander__summary--booking">
  <div class="o-booking__header">
    <div class="o-booking__header-content">
      <div class="o-booking__title-wrapper">
        <div class="o-booking__title">
          {{- partial "icon" (index $iconMapping .page.Params.type) -}}
          <span class="o-booking__title-text">{{- .page.Title -}}</span>
        </div>
        {{- if .subtitle }}
          <div class="o-booking__subtitle">
            {{- .subtitle -}}
          </div>
        {{- end }}
      </div>
      <div class="o-booking__meta">
        {{- $metaFields := slice
          (dict "key" "reservations" "value" .reservations "label" "booking.reservation")
          (dict "key" "fip_50" "value" .fip_50 "label" "booking.fip-50")
          (dict "key" "fip_75" "value" .fip_75 "label" "booking.fip-75")
          (dict "key" "fip_global_fare" "value" .fip_global_fare "label" "booking.fip-global-fare")
        -}}
        {{- range $metaFields -}}
          {{- if ne .value "nil" -}}
            {{- if .value -}}
              <div
                class="o-booking__meta-item o-booking__meta-item--success"
                aria-label="{{ T .label }} {{ T "booking.bookable" }}"
              >
                {{- partial "icon" "check_circle" -}}
                <span aria-hidden="true">{{- T .label -}}</span>
              </div>
            {{- else -}}
              <div
                class="o-booking__meta-item o-booking__meta-item--error"
                aria-label="{{ T .label }} {{ T "booking.not-bookable" }}"
              >
                {{- partial "icon" "cancel" -}}
                <span aria-hidden="true">{{- T .label -}}</span>
              </div>
            {{- end -}}
          {{- end -}}
        {{- end -}}
      </div>
      {{- if or (and (ne .reservations "nil") (ne .reservations false) .classes) (ne .fee "nil") -}}
        <div class="o-booking__classes">
          {{- if and (ne .reservations "nil") (ne .reservations false) .classes -}}
            <span class="o-booking__classes-title"
              >{{ T "booking.reservation-costs" }}</span
            >
            {{- range $k, $v := .classes -}}
              <div>
                <strong>{{- T (print "booking.classes." $k) -}}:</strong>
                {{ $v -}}
              </div>
            {{- end -}}
          {{- end -}}
          {{- if ne .fee "nil" -}}
            <span class="o-booking__classes-title">{{ T "booking.fee" }}</span>
            <div>{{ .fee }}</div>
          {{- end -}}
        </div>
      {{- end -}}
    </div>
  </div>
  {{- partial "icon" "keyboard_arrow_down" -}}
</summary>
<hr aria-hidden="true" />
<div class="o-expander__content">
  {{- if .info -}}
    <div class="o-booking__info">
      {{- .info | .original_page.RenderString -}}
    </div>
  {{- end -}}
  {{- $content := .page.Content -}}
  <div class="o-single__content o-booking__sections">
    {{- $content -}}
    {{- $sections := .page.Store.Get "booking_sections" | default (slice) -}}
    {{- range $section := $sections -}}
      {{- $sectionName := index $section "name" -}}
      {{- $sectionValue := index $ $sectionName -}}
      {{- if or (eq $sectionValue false) (eq $sectionValue "nil") -}}
        {{- continue -}}
      {{- end -}}
      <div
        class="o-single__content o-booking__section o-booking__section-{{ $sectionName }}"
      >
        {{- $sectionContent := index $section "content" -}}
        {{- $sectionFootnotePrefix := print $.page.File.ContentBaseName "-" $sectionName -}}
        {{- $sectionContent | safeHTML -}}
      </div>
    {{- end -}}
  </div>

  {{ partial "booking/links" .page }}
</div>
