$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

body {
  --bs-light-rgb: 219, 224, 229;
  --pagefind-ui-scale: 1;
  --pagefind-ui-text: #000;
  --link-default: #BA3D12;
  --link-default-rgb: 186, 61, 18;
  --link-hovered: #8F2501;
  --link-hovered-rgb: 143, 37, 1;
  --link-special: #000000;
  --link-special-rgb: 0, 0, 0;
  --bg-default: #FFFFFF;
  --bg-default-rgb: 255, 255, 255;
  --bg-neutral: #EBE9E1;
  --bg-neutral-rgb: 235, 233, 225;
  --bg-accent: #FFD900;
  --bg-accent-rgb: 255, 217, 0;
  --bg-accent2: #DABA00;
  --bg-accent2-rgb: 218, 186, 0;
  --bg-accent3: #fff284;
  --bg-accent3-rgb: 255, 242, 132;
  --color-onDark: #FFFFFF;
  --color-onDark-rgb: 255, 255, 255;
  --color-onLight: #000000;
  --color-onLight-rgb: 0, 0, 0;
  --color-table-border: #5B5B5B;
  --color-table-border-rgb: 91, 91, 91;
  --border-radius-s: .4rem;
  --border-radius-m: .8rem;
  --border-radius-l: 1.2rem;
  --pagefind-ui-border-radius: var(--border-radius-l);
  --pagefind-ui-border: #000;
  --bs-highlight-bg: var(--bg-accent);
}
