$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$link-hovered: #8F2501;
$link-default: #BA3D12;
$link-special: #000000;
$bg-default: #FFFFFF;
$bg-neutral: #EBE9E1;
$bg-accent: #FFD900;
$bg-accent2: #DABA00;
$bg-accent3: #fff284;
$color-onDark: #FFFFFF;
$color-onLight: #000000;
$color-table-border: #5B5B5B;

body {
  --pagefind-ui-scale: 1;
  --pagefind-ui-text: #000;
  --link-default: #{$link-default};
  --link-hovered: #{$link-hovered};
  --link-special: #{$link-special};
  --bg-default: #{$bg-default};
  --bg-neutral: #{$bg-neutral};
  --bg-accent: #{$bg-accent};
  --bg-accent2: #{$bg-accent2};
  --bg-accent3: #{$bg-accent3};
  --color-onDark: #{$color-onDark};
  --color-onLight: #{$color-onLight};
  --color-table-border: #{$color-table-border};
  --color-body: rgb(33, 37, 41);
  --border-radius-s: .4rem;
  --border-radius-m: .8rem;
  --border-radius-l: 1.6rem;
  --pagefind-ui-border-radius: var(--border-radius-l);
  --pagefind-ui-border: #000;
  --box-shadow: 0 .4rem 1rem rgba(0,0,0,.25);
  --box-shadow-light: 0.4rem 0.4rem 0.4rem rgba(0,0,0,.1);
}
