.o-aside {
  margin-bottom: 0;
  position: sticky;
  top: 8rem;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-right: 0;
  z-index: 8;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-wrap: wrap;
  height: fit-content;

  ul {
    list-style-type: none;
    list-style-position: outside;
    padding-left: 0;

    ul {
      margin-bottom: 0;
    }
  }

  li {
    margin-bottom: 0.3rem;
  }

  @media print {
    display: none;
  }
}

.o-aside__header {
  display: none;
}

.o-aside a {
  text-decoration-line: none;
  display: flex;
  align-items: flex-start;
  gap: 0.4rem;
  width: fit-content;

  @include focus-indicator(0.1rem);
}

.o-aside__backlink-text {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.o-aside__toc {
  li {
    list-style-type: none;
  }

  ul {
    padding: 0 0 0 1em;
  }

  ul a[data-current]::before {
    left: -2.1rem;
  }

  ul ul a[data-current]::before {
    left: calc(-1em - 2.1rem);
  }

  a[data-current] {
    font-weight: bold;
    position: relative;

    &:before {
      content: "";
      width: 0.4rem;
      height: 2.1rem;
      position: absolute;
      display: flex;
      background-color: var(--link-default);
    }
  }

  > ul {
    padding-left: 0;
  }
}

.o-aside__toc-link {
  display: flex;
}

.o-related {
  &__list {
    list-style-type: none;
    list-style-position: outside;
    padding-left: 0;
  }

  &-date {
    padding-left: 2.5rem;
  }

  p {
    margin-bottom: 0;
  }
}

.o-related__item img {
  border-radius: var(--border-radius-s);
}

@media (max-width: #{$breakpoint-lg}) {
  .o-aside {
    position: fixed;
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    gap: 0;
    overflow: hidden;
    flex-flow: column;
    transition: transform 0.25s ease-in-out;
    border-radius: var(--border-radius-m) var(--border-radius-m) 0 0;
    transform: translateY(calc(100% - 6.4rem - env(safe-area-inset-bottom)));
    box-shadow: var(--box-shadow);
    max-height: calc(100vh - 20rem - env(safe-area-inset-bottom));

    @media print {
      display: none;
    }

    &--open {
      transform: translateY(0);
    }

    &:not(.o-aside--open) {
      > .o-aside__header {
        border-bottom: none;
      }

      > .o-aside__content {
        pointer-events: none;
        user-select: none;

        * {
          opacity: 0;
        }
      }
    }

    &__content {
      background: var(--bg-default);
      overflow-y: scroll;
      overscroll-behavior-y: contain;

      .o-single__container {
        border: none;
      }

      * {
        transition: opacity 0.3s ease-in-out;
      }
    }

    &__header {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1.5rem;
      width: 100%;
      border-top: var(--border);
      border-bottom: 1px solid #3d444d;
      border-left: none;
      border-right: none;
      padding: 1rem;
      height: 6.4rem;
      border-radius: 1rem 1rem 0 0;
      background: var(--bg-default);
      color: var(--color-body);
    }

    &__drag {
      height: 0.4rem;
      width: 4rem;
      display: block;
      background: var(--color-body);
      border-radius: 2rem;
    }

    &__logo {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
  }

  main.o-newspage .o-aside,
  main.o-bookingpage .o-aside {
    order: 1;
    position: relative;
    display: flex;
    transform: unset;
    box-shadow: unset;
  }

  main.o-newspage .o-aside {
    img {
      display: none;
    }
  }
}
