.o-last-updated {
  font-size: 1.3rem;
}

.o-last-updated > .material-symbols-rounded {
  font-size: 1.5rem;
}

code {
  font-size: inherit;
  font-weight: 700;
  color: $color-onLight;
  background-color: var(--bg-accent3);
  padding: 0.2rem 0.8rem;
  border-radius: var(--border-radius-s);

  @media print {
    padding: 0.2rem 0.6rem;
  }
}

table {
  border-collapse: collapse;
  margin-bottom: 1rem;
  margin-left: 0.2rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1);

  @media print {
    box-shadow: none;
  }
}

thead {
  th:first-child {
    border-top-left-radius: var(--border-radius-s);
  }
  th:last-child {
    border-top-right-radius: var(--border-radius-s);
  }

  th {
    background: var(--link-hovered);
    color: var(--bg-neutral);
    text-align: left;
  }
}

tbody {
  tr {
    border-bottom: 0.1rem solid $color-table-border;
  }

  tr:nth-of-type(even) {
    background-color: var(--bg-default);
  }

  tr:last-of-type {
    border-bottom: 2px solid $link-hovered;

    @media print {
      border-bottom: 0.1rem solid #5b5b5b;
    }
  }
}

th,
td {
  padding: 1rem;
}

.footnotes {
  p {
    text-align: left;
  }

  li:last-of-type p {
    margin-bottom: 0;
  }

  hr {
    display: none;
  }

  ol {
    padding-left: 2rem;
    list-style-position: outside;
    margin-bottom: 0;
  }
}

p:has(+ span) {
  margin-bottom: 0;
}

.o-single__content > *:last-child,
.o-single__container > *:last-child {
  margin-bottom: 0;
}
