.o-dialog {
  max-height: calc(100vh - 14rem);
  overflow: auto;

  .a-anchorlink {
    margin-bottom: 0;

    &__link {
      display: none;
    }
  }

  &__wrapper {
    width: fit-content;
    position: fixed;
    top: 7rem;
    border: none;
    padding: 0;
    background-color: var(--bg-default);
    color: var(--color-body);
    border-radius: var(--border-radius-m);
    z-index: 12;
    border: var(--border);
    overflow: hidden;
  }

  &__header {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 2rem;
    border-bottom: var(--border);
    border-color: var(--color-table-border);

    .o-divider {
      display: none;
    }
  }

  &__body {
    padding: 2rem;

    > *:last-child {
      margin-bottom: 0;
    }
  }
}
