.o-expander > hr {
  margin: 0;
}

.o-expander__summary {
  display: flex;
  padding: 1.2rem;
  gap: 0.5rem;
  align-items: center;
  transition: background 0.3s ease;
  justify-content: space-between;
  border-radius: var(--border-radius-m);

  @media print {
    padding: 0.6rem;
  }

  &:not(.o-expander__summary--booking) {
    font-weight: 700;
  }

  &:hover,
  &:focus {
    .o-expander__summary-text {
      text-decoration: underline;
    }

    background: rgba($link-hovered, 0.15);
  }

  @include focus-indicator(0.2rem);

  &--booking {
    &:hover,
    &:focus {
      .o-booking__title-text {
        text-decoration: underline;
      }
    }
  }

  > .material-symbols-rounded {
    transition: transform 0.2s;

    @media print {
      display: none;
    }
  }

  > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

details[open] > .o-expander__summary {
  &:hover,
  &:focus {
    border-radius: var(--border-radius-m) var(--border-radius-m) 0 0;
  }
}

.o-expander__content {
  padding: 1.2rem;

  @media print {
    padding: 0.6rem;
  }

  // Remove margins from last elements of expander (up to 3 levels deep)
  & > *:last-child,
  & > *:last-child > *:last-child,
  & > *:last-child > *:last-child > *:last-child {
    margin-bottom: 0;
  }
}

details {
  position: relative;
  background-color: var(--bg-neutral);
  border-radius: var(--border-radius-m);
  margin-bottom: 1.2rem;

  table {
    width: 100%;
    margin-left: 0;
  }

  > summary {
    list-style-type: none;
  }

  > div {
    overflow-x: auto;
  }

  > summary::-webkit-details-marker {
    display: none;
  }

  @media print {
    border: 0.2rem solid #bbb;
    page-break-inside: avoid;
    display: block;

    &::details-content {
      content-visibility: visible;
      height: auto !important;
    }
  }
}

details[open] > .o-expander__summary > .material-symbols-rounded {
  transform: rotate(180deg);
}

details[open] > .o-expander__summary:not(.o-expander__summary--booking) {
  font-weight: 700;
}
