summary {
  display: flex;

  &:hover,
  &:focus {
    font-weight: 700;
    text-decoration: underline;
  }
}

.details-print {
  display: none;
}

details {
  position: relative;
  padding: 1.2rem;
  background-color: var(--bg-neutral);
  border-radius: var(--border-radius-m);
  margin-bottom: 1.2rem;
}

details[open] > summary {
  margin-bottom: 0.5rem;
}

details > summary {
  list-style-type: none;
}

.details-screen > div,
.details-screen > summary {
  margin-left: 3.2rem;
}

details > div {
  overflow-x: auto;
}

details > div > * {
  margin-right: 1rem;
}

details > summary::-webkit-details-marker {
  display: none;
}

.details-screen > summary::before {
  content: "add";
  position: absolute;
  left: 1.2rem;
  font-size: 2.4rem;
  @extend .material-symbols-rounded
}

.details-screen[open] > summary::before {
  content: "remove";
  font-size: 2.4rem;
  @extend .material-symbols-rounded
}

details[open] > summary {
  font-weight: 700;
}


@media print {
  .details-screen {
    display: none;
  }

  .details-print {
    border: solid;
    page-break-inside: avoid;
    display: block;
  }
}
