.o-expander__summary {
  display: flex;

  gap: 0.5rem;
  align-items: center;

  &:hover,
  &:focus {
    .o-expander__summary-text {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

.details-print {
  display: none;
}

details {
  position: relative;
  padding: 1.2rem;
  background-color: var(--bg-neutral);
  border-radius: var(--border-radius-m);
  margin-bottom: 1.2rem;
}

details[open] > .o-expander__summary {
  margin-bottom: 0.5rem;
}

details > summary {
  list-style-type: none;
}

.details-screen > .o-expander__summary {
  margin-right: 3.2rem;
}

details > div {
  overflow-x: auto;
}

details > div > * {
  margin-right: 1rem;
}

details > summary::-webkit-details-marker {
  display: none;
}

.details-screen > .o-expander__summary::before {
  content: "keyboard_arrow_down";
  position: absolute;
  right: 1.2rem;
  font-size: 2.4rem;
  @extend .material-symbols-rounded
}

.details-screen[open] > .o-expander__summary::before {
  content: "keyboard_arrow_up";
  font-size: 2.4rem;
  @extend .material-symbols-rounded
}

details[open] > .o-expander__summary {
  font-weight: 700;
}


@media print {
  .details-screen {
    display: none;
  }

  .details-print {
    border: solid;
    page-break-inside: avoid;
    display: block;
  }
}
