.o-fip-validity {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @each $status in valid, invalid, unknown {
    &--#{$status} {
      color: var(--fip-validity-#{$status});
    }
  }

  > .a-button {
    font-size: 1.7rem;
  }

  &-dialog-value {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    min-width: 150px;
    flex-direction: column;
    text-align: center;
  }

  &__table {
    table-layout: fixed;
    margin-left: 0;

    @media (min-width: $breakpoint-lg) {
      table-layout: fixed;
      width: 100%;
    }

    > thead > tr > th,
    > tbody > tr > td {
      text-align: center;

      &:first-child {
        width: 150px;
      }
    }
  }
}
