.o-fip-validity {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @each $status in valid, invalid, unknown {
    &--#{$status} {
      color: var(--fip-validity-#{$status});
    }
  }

  > .a-button {
    font-size: 1.7rem;
  }
}
