.a-fip-validity-item {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 0.95em;
  font-weight: 400;
  line-height: 1.2em;

  @each $name, $color in $tag-colors {
    &--#{$name} {
      color: var(--tag-#{$name}-color);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  &__note {
    font-size: 0.8em;
    color: var(--color-body);
    font-weight: 400;

    p {
      margin: 0;
      display: inline;
    }
  }
}
