@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100 700;
  src: url(/fonts/Roboto-VariableFont_wdth,wght.ttf) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100 700;
  src: url(/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf) format('woff2');
  font-display: swap;
}

body {
  font-family: "Roboto",Arial,Helvetica,sans-serif;
  word-wrap: break-word;
  hyphens: auto;
}