.o-footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  @media print {
    margin-bottom: 0;
  }
}

.o-footer__links {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;

  @media print {
    display: none;
  }

  & > a {
    color: var(--link-special);
    font-weight: 700;
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--link-hovered);
      text-decoration: underline;
    }
  }
}

.o-footer__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

#language-switcher-button {
  padding-left: 0;

  @media print {
    display: none;
  }
}

.footnote-backref {
  display: inline-flex;
  width: 2.4rem;
  height: 2.4rem;
  justify-content: center;

  @media print {
    display: none;
  }
}
