.o-footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.o-footer__links {
    display: flex;
    justify-content: normal;
    flex-flow: column;

    @include media-breakpoint-up(lg) {
        justify-content: flex-end;
        flex-flow: row;
    }
}

.o-footer__link {
    margin-left: 0;
    margin-right: 1.6rem;
    text-decoration: underline;
    color: var(--link-special);
    font-weight: 700;

    &:hover,
    &:focus {
        color: var(--link-hovered);
    }

    @include media-breakpoint-up(lg) {
        margin-left: 1.6rem;
        margin-right: 0;
    }
}