.m-form {
  margin-bottom: 1.6rem;
  margin-left: 0;
  margin-right: 0;

  @media (max-width: #{$breakpoint-md}) {
    max-width: fit-content;
  }

  .row > label {
    padding: 0;
  }

  input[type=text], input[type=email], select, textarea {
    width: 100%;
    margin-bottom: 1.6rem;
    border-radius: var(--border-radius-m);
    border-width: .2rem;
    border-color: var(--color-onLight);
    padding: 1.2rem;

    @media (min-width: #{$breakpoint-md}) {
      width: 50%;
    }
  }
  input[type=submit] {
    width: auto;
    padding: 1.2rem 2.4rem;
    background-color: var(--bg-accent);
    color: var(--color-onLight);
    border: none;
    border-radius: var(--border-radius-m);
    transition: background-color .3s ease;
    font-weight: 700;

    &:hover,
    &:focus {
      background-color: var(--bg-accent2);
    }
  }
}
