.m-form {
  margin-bottom: 1.6rem;
  margin-left: 0;
  margin-right: 0;

  @media (max-width: #{$breakpoint-md}) {
    max-width: fit-content;
  }

  label {
    padding: 0;
    display: flex;
    flex-flow: column;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    margin-bottom: 1.6rem;
    border: 0.2rem solid var(--link-default);
    border-radius: var(--border-radius-m);
    padding: 1.2rem;
    background-color: var(--bg-neutral);
    color: var(--body-color);
    resize: vertical;

    @media (min-width: #{$breakpoint-md}) {
      width: 50%;
    }
  }
}

#success {
  display: none;
  padding: 1rem;
  border-radius: var(--border-radius-m);
  background-color: green;
  color: white;
  text-align: left;
}
