h1 {
  font-size: 3rem;
  line-height: 1.25;
  margin-bottom: 2rem;
  margin-top: 0;
  font-weight: 700;
  text-wrap: balance;
  break-after: avoid;
}

h2 {
  font-size: 2.2rem;
  line-height: 1.25;
  margin-bottom: 1rem;
  margin-top: 0;
  font-weight: 700;
  text-wrap: balance;
  break-after: avoid;
}

h3 {
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 1rem;
  margin-top: 0;
  font-weight: 700;
  text-wrap: balance;
  break-after: avoid;
}

h4 {
  font-size: 1.8rem;
  line-height: 1.25;
  margin-bottom: 1rem;
  margin-top: 0;
  font-weight: 700;
  text-wrap: balance;
  break-after: avoid;
}

h5 {
  font-size: 1.6rem;
  line-height: 1.25;
  margin-bottom: 1rem;
  margin-top: 0;
  font-weight: 700;
  text-wrap: balance;
  break-after: avoid;
}

h6 {
  font-size: 1.4rem;
  line-height: 1.25;
  margin-bottom: 1rem;
  margin-top: 0;
  font-weight: 700;
  text-wrap: balance;
  break-after: avoid;
}
