h1 {
  font-size: 3rem;
  line-height: 1.25;
  margin-bottom: 2rem;
  font-weight: 700;
  text-wrap: balance;
  scroll-margin-top: 7rem;
}

h2 {
  font-size: 2.2rem;
  line-height: 1.25;
  margin-bottom: 1rem;
  font-weight: 700;
  text-wrap: balance;
  scroll-margin-top: 7rem;
}

h3 {
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 1rem;
  font-weight: 700;
  text-wrap: balance;
  scroll-margin-top: 7rem;
}

h4 {
  font-size: 1.8rem;
  line-height: 1.25;
  margin-bottom: 1rem;
  font-weight: 700;
  text-wrap: balance;
  scroll-margin-top: 7rem;
}

sup {
  scroll-margin-top: 7rem;
}
