.m-image-gallery {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  list-style: none;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }

  &::scroll-button(*) {
    border: 0;
    background: none;
    background-color: currentColor;
    color: var(--link-default);
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
    aspect-ratio: 1 / 1;
    line-height: 1;
    transition: color 0.3s ease;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }

    &:hover,
    &:focus {
      color: var(--link-hovered);
    }

    &:disabled {
      opacity: 0.2;
      cursor: unset;
    }
  }

  &::scroll-button(left) {
    content: "";
    mask: url(/icons/material-symbols-rounded/keyboard_arrow_left.svg) no-repeat
      center / contain;
  }

  &::scroll-button(right) {
    content: "";
    mask: url(/icons/material-symbols-rounded/keyboard_arrow_right.svg)
      no-repeat center / contain;
  }
}

.m-image-gallery__item {
  flex: 0 0 100%;
  scroll-snap-align: center;
  list-style: none;
}

// TODO: we should use the same aspect ratio for all images, so we don’t need this ones.

.m-image-gallery__item > figure {
  height: 100%;
}

.m-image-gallery__item > figure > img {
  height: 100%;
  object-fit: cover;
}

.m-image-gallery__controls {
  display: flex;
  gap: 1rem;
  align-self: center;
  margin-bottom: 1rem;

  .a-button:disabled {
    opacity: 0.35;
  }
}
