.o-header {
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-up(md) {
    justify-content: unset;
  }
}

.o-header__curtain:has(~ .o-header__nav--open)  {
  background-color: rgba(0, 0, 0, .8);
  inset: 0;
  position: fixed;
  z-index: 2;
}

.o-header__nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.o-header__nav nav {
  width: 100%;
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.o-header__nav nav h2 {
  display: block;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.o-header__logo {
  display: flex;
  padding: 1rem;
  margin: .3rem;
}

.o-header__nav menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.o-header__skip-link {
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  margin: .3rem;
  pointer-events: none;
  background-color: gainsboro;
  border-radius: .4rem;
  color: black;

  &:focus {
    opacity: 1;
    pointer-events: auto;
  }
}

.o-header__item {
  list-style: none;

  //normales Menü
  ul {
    display: flex;
    margin: 0;
  }
}

.o-header__item a,
.o-header__expand-button,
.o-nav__menu-button,
.o-nav__close-button {
  display: inline-flex;
  padding: 1rem;
  margin: .3rem;
  border: none;
  background: none;
  width: fit-content;
  text-align: right;
  color: black;
  font-weight: 700;

  &:hover,
  &:focus {
    color: red;
  }

  span {
    text-decoration: underline;
  }
}

.o-nav__menu-button-text {

}

.o-header__expand-button i,
.o-nav__menu-button i,
.o-nav__close-button i {
  margin-left: .8rem;
  align-self: center;
}

.o-header__expand-button:has(~ .o-header__item-countries--open) i {
  transform: rotate(180deg);
}

.o-header__item .o-header__item-countries {
  display: flex;

  @include media-breakpoint-up(md) {
    display: none;
    z-index: 2;
    position: absolute;
    padding: 1rem;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 .4rem 1rem 0 rgba(0,0,0,.1);
    border-radius: .4rem;
  }

  &.o-header__item-countries--open {
    display: flex;
  }
}

.o-nav__close-button,
.o-nav__menu-button {
  display: flex;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.o-header__expand-button {
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
  }
}

.o-header__nav--open nav {
  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    z-index: 3;
    background-color: white;
    padding: 0 1rem;
    overflow-y: scroll;

    > menu {
      margin-top: 5rem;
    }

    ul,
    menu {
      flex-direction: column;
      align-items: flex-end;
    }

    menu li:first-child {
      order: 2;
    }

    > menu > li {
      margin-bottom: 5rem;
    }

    h2 {
      padding-right: 1rem;
      text-align: right;
      margin-bottom: 0;
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 300;
    }
  }
}

body:has(.o-header__nav--open) {
  overflow: hidden;
}