.o-header__nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  @media (min-width: #{$breakpoint-md}) {
    display: block;
  }
}

.o-header__nav nav {
  width: 100%;
  display: none;

  @media (min-width: #{$breakpoint-md}) {
    display: block;
  }

  hr {
    display: none;
  }
}

.o-header__nav > nav > menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

menu > li > menu {
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
}

.o-header__item > .o-dropdown__button {
  font-weight: bold;
  line-height: 1;

  @media (max-width: #{$breakpoint-md}) {
    flex-direction: row-reverse;
  }
}
.o-dropdown__menu > .o-header__item {
  display: flex;

  a {
    font-weight: 400;
    white-space: nowrap;
    min-width: max-content;

    @media (max-width: #{$breakpoint-md}) {
      flex-direction: row-reverse;
    }
  }

  &--current a {
    font-weight: 700;
    color: var(--link-hovered);
  }
}

.o-header__item {
  list-style: none;
  display: flex;
  align-items: center;

  @media (max-width: #{$breakpoint-md}) {
    display: block;

    &.o-dropdown {
      display: flex;
      flex-direction: column;
      align-items: end;
    }

    .o-dropdown__menu {
      box-shadow: none;
      position: static;
      margin-bottom: 1rem;
      border-radius: 0;
      border: none;
    }
  }

  ul {
    display: flex;
    margin: 0;
  }

  .o-dropdown__button[aria-expanded="true"] + .o-dropdown__menu {
    display: grid;
    justify-items: flex-end;

    @media (min-width: #{$breakpoint-md}) {
      padding: 1rem;
      justify-items: flex-start;
      z-index: 14;

      display: grid;
      grid-auto-flow: row;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 1rem;

      @media (max-width: #{$breakpoint-lg}) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

.o-header__item a {
  display: inline-flex;
  gap: 0.4em;
  padding: 1rem;
  text-decoration: none;
  color: var(--color-body);
  font-weight: 700;
  align-items: center;
  white-space: nowrap;
  line-height: 1;
  border-radius: var(--border-radius-m);

  &:hover,
  &:focus {
    text-decoration: underline;
    color: var(--link-hovered);
  }
}

.o-nav__menu-button,
.o-nav__close-button {
  display: inline-flex;
  padding: 1rem;
  border: none;
  background: none;
  width: fit-content;
  text-align: right;
  font-weight: 700;
  color: var(--color-body);

  height: fit-content;
  text-decoration: none;

  &:hover,
  &:focus {
    :not(.material-symbols-rounded) {
      text-decoration: underline;
    }
    color: var(--link-hovered);
  }
}

.o-nav__close-button,
.o-nav__menu-button {
  display: flex;

  @media (min-width: #{$breakpoint-md}) {
    display: none;
  }

  > .material-symbols-rounded {
    margin-left: 0.8rem;
    align-self: center;
    text-decoration: none;
  }
}

@media (max-width: #{$breakpoint-md}) {
  .o-header__nav nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    z-index: 20;
    background-color: var(--bg-default);
    padding: 1rem;
    overflow-y: scroll;
    border-left: var(--border);

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    > menu {
      margin-top: 4rem;
    }

    ul,
    menu {
      flex-direction: column;
      align-items: flex-end;
      padding-left: 0;
    }

    .o-header__item {
      height: fit-content;
    }

    hr {
      display: block;
      width: 100vw;
      margin: 0;
      margin-right: -1rem;
      border-top: 2px solid grey;
    }
  }

  .o-header__nav--open nav {
    transform: translateX(0);
  }
}

.o-header__item--desktop {
  display: none;

  @media (min-width: #{$breakpoint-md}) {
    display: inline-flex;
  }
}

.o-header__item--mobile {
  display: inline-flex;

  @media (min-width: #{$breakpoint-md}) {
    display: none;
  }
}

.o-header__button {
  padding: 1rem;
  border: none;
  background: transparent;
  width: fit-content;
  color: var(--color-body);
  transition: color 0.3s ease;
  height: fit-content;

  &:hover {
    color: var(--link-hovered);
  }
}

body:has(.o-header__nav--open) {
  overflow: hidden;
}

#li-header-news {
  @media (min-width: #{$breakpoint-md}) and (max-width: #{$breakpoint-lg}) {
    display: none;
  }
}
