.o-header {
  position: sticky;
  width: 100%;
  top: 0;
  box-shadow: 0 .4rem 1rem 0 rgba(0,0,0,.1);
  background-color: var(--bg-default);
  z-index: 5;
  height: 6rem;
  padding-left: calc((100vw - 100%) / 2);
  border-bottom: var(--border);
}

.o-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  @media (min-width: #{$breakpoint-md}) {
    justify-content: unset;
  }
}

.o-header__curtain:has(~ .o-header__nav--open)  {
  background-color: rgba(0, 0, 0, .8);
  inset: 0;
  position: fixed;
  z-index: 2;
}

.o-header__nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  @media (min-width: #{$breakpoint-md}) {
    display: block;
  }
}

.o-header__nav nav {
  width: 100%;
  display: none;

  @media (min-width: #{$breakpoint-md}) {
    display: block;
  }
}

.o-header__logo {
  display: flex;
  margin: .6rem 0;
  position: relative;
  text-decoration: none;
  border-radius: var(--border-radius-m);

  &:hover,
  &:focus {
    background-color: var(--bg-neutral);
  }

  svg {
    width: auto;
    height: 4.4rem;
    padding: .2rem .4rem;
    align-self: center;
    aspect-ratio: 696 / 200;
  }
}

.o-header__nav menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.o-header__skip-link {
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  margin: .9rem;
  pointer-events: none;
  background-color: var(--bg-neutral);
  border-radius: var(--border-radius-s);
  color: var(--bg-default);

  &:focus {
    opacity: 1;
    pointer-events: auto;
  }
}

.o-header__item {
  list-style: none;
  height: 6rem;
  display: flex;
  align-items: center;

  @media (max-width: #{$breakpoint-md}) {
    display: block;
  }

  ul {
    display: flex;
    margin: 0;
  }
}

.o-header__item a,
.o-header__expand-button,
.o-nav__menu-button,
.o-nav__close-button {
  display: inline-flex;
  padding: 1rem;
  border: none;
  background: none;
  width: fit-content;
  text-align: right;
  color: var(--color-body);
  font-weight: 700;
  height: fit-content;

  &:hover,
  &:focus {
    color: var(--link-hovered);
  }

  span {
    text-decoration: underline;
  }
}

.o-header__expand-button {
  margin: 0.9rem;
}

.o-header__expand-button > .material-symbols-rounded,
.o-nav__menu-button > .material-symbols-rounded,
.o-nav__close-button > .material-symbols-rounded {
  margin-left: .8rem;
  align-self: center;
  text-decoration: none;
}

.o-header__expand-button:has(~ .o-header__item-countries--open) .material-symbols-rounded {
  transform: rotate(180deg);
}

.o-header__item .o-header__item-countries {
  display: grid;
  justify-items: flex-end;

  @media (min-width: #{$breakpoint-md}) {
    display: none;
    z-index: 2;
    position: absolute;
    padding: 1rem;
    justify-items: flex-start;
    background-color: var(--bg-default);
    box-shadow: 0 .4rem 1rem 0 rgba(0,0,0,.1);
    border-radius: var(--border-radius-s);
    top: 6rem;

    &.o-header__item-countries--open {
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: auto;
    }
  }
}

.o-nav__close-button,
.o-nav__menu-button {
  display: flex;

  @media (min-width: #{$breakpoint-md}) {
    display: none;
  }
}

.o-header__expand-button {
  display: none;

  @media (min-width: #{$breakpoint-md}) {
    display: flex;
  }
}

.o-header__nav--open nav {
  @media (max-width: #{$breakpoint-md}) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    z-index: 4;
    background-color: var(--bg-default);
    padding: 1rem;
    overflow-y: scroll;

    > menu {
      margin-top: 4rem;
    }

    ul,
    menu {
      flex-direction: column;
      align-items: flex-end;
      padding-left: 0;
    }

    menu li:first-child {
      order: 2;
    }

    > menu > li {
      margin-bottom: 5rem;
    }

    .o-header__item {
      height: fit-content;
    }
  }
}

body:has(.o-header__nav--open) {
  overflow: hidden;
}

.o-header__item-wrapper {
  @media (min-width: #{$breakpoint-md}) {
    display: flex;
    gap: 1rem;
  }
}

#menu-country-list-title,
#menu-general-list-title {
  padding-right: 1rem;
  text-align: right;
  margin-bottom: 0;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 300;

  display: block;

  @media (min-width: #{$breakpoint-md}) {
    display: none;
  }
}

.a-theme-toggle {
  padding: 1rem;
  border: none;
  background: transparent;
  width: fit-content;
  color: var(--color-body);
  transition: color 0.3s ease;
  height: fit-content;

  &:hover {
    color: var(--link-hovered);
  }

  &--desktop {
    display: none;

    @media (min-width: #{$breakpoint-md}) {
      display: inline-flex;
    }
  }

  &--mobile {
    display: inline-flex;

    @media (min-width: #{$breakpoint-md}) {
      display: none;
    }
  }
}
