.o-identify-operator__item {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.o-identify-operator__item-title {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.o-identify-operator__item-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: start;

  @media (max-width: #{$breakpoint-md}) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.o-identify-operator__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.o-identify-operator__image-wrapper {
  order: 2;

  @media (max-width: #{$breakpoint-md}) {
    order: 1;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-m);
  }
}

.o-identify-operator__actions {
  margin-top: 1rem;
}

.o-identify-operator__separator {
  margin: 3rem 0;
}

.o-identify-operator__header {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.o-identify-operator__title {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  font-weight: 600;
}

.o-identify-operator__title-text {
  line-height: 1.1;
}
