$search-z-index: 10;
$search-z-index-focus: 12;

#search {
  width: 100%;
  display: flex;
  z-index: $search-z-index;

  @media print {
    display: none;
  }

  .pagefind-ui {
    width: 100%;

    &__form {
      position: relative;

      &::before {
        content: "search";
        position: absolute;
        top: 23px;
        left: 20px;
        z-index: $search-z-index + 1;
        font-family: "Material Symbols Rounded";
        opacity: 0.7;
        pointer-events: none;
        line-height: 1;
      }
    }

    &__message {
      padding: 1rem;
      margin-bottom: 0;
    }

    &__results-area {
      max-height: 50vh;
      padding: 0 1rem;
      overflow-y: scroll;

      @media (max-width: #{$breakpoint-md}) {
        max-height: calc(100dvh - 17rem);
      }
    }

    &__results {
      padding-left: 0;
      margin-bottom: 0;
    }

    &__search-input {
      z-index: $search-z-index;
      outline: 0.2rem solid transparent;
      border: var(--border);
      box-shadow: var(--box-shadow);
      border-radius: var(--border-radius-l);
      height: 64px;
      background-color: var(--bg-default);
      color: var(--color-body);
      padding: 0 70px 0 54px;
      font-size: 2rem;
      position: relative;
      display: flex;
      width: 100%;
      box-sizing: border-box;
      font-family: "Roboto", Arial, Helvetica, sans-serif;

      @include focus-indicator(0.2rem);

      &::placeholder {
        opacity: 0.7;
        color: var(--color-body);
      }

      // When results are visible
      &:has(
        + .pagefind-ui__search-clear
          + .pagefind-ui__drawer
          .pagefind-ui__results-area
      ) {
        border-radius: var(--border-radius-l) var(--border-radius-l) 0 0;
      }
    }

    &__search-clear {
      display: none;
    }

    &__suppressed {
      display: none;
    }

    &__drawer {
      background-color: var(--bg-default);
      overscroll-behavior: contain;
      overflow: hidden;
      position: absolute;
      width: 100%;
      z-index: $search-z-index;
      border: var(--border);
      border-radius: 0 0 var(--border-radius-l) var(--border-radius-l);
      box-sizing: border-box;
    }

    &__result {
      list-style-type: none;
      display: flex;
      align-items: flex-start;
      gap: 3.2rem;
      padding: 2rem 0;
      border-top: 0.2rem solid grey;
      margin: 0 1rem;

      &-inner,
      &-thumb {
        margin-top: 0;
      }

      &-thumb {
        width: 10rem;
        height: auto;
        aspect-ratio: 3 / 2;

        @media (max-width: #{$breakpoint-md}) {
          display: none;
        }
      }

      &-title {
        display: inline-block;
        font-weight: 700;
        margin: 0;
      }

      &-nested {
        display: flex;
        flex-direction: column;
        padding-top: 0.8rem;
        padding-left: 2.4rem;

        .pagefind-ui__result-link {
          font-size: 1.8rem;
        }

        .pagefind-ui__result-link::before {
          content: "subdirectory_arrow_right";
          font-family: "Material Symbols Rounded";
          position: absolute;
          left: -2.4rem;
        }
      }

      &-excerpt {
        margin-bottom: 0;
        margin-top: 0.4rem;
      }
    }

    &__result-link {
      position: relative;
      font-size: 2.2rem;
    }

    &__button {
      border: 0.2rem solid var(--link-default);
      border-radius: var(--border-radius-m);
      background: transparent;
      color: var(--body-color);
      height: 4.8rem;
      padding: 1.2rem;
      margin-bottom: 1rem;
      width: 100%;
      text-align: center;
      font-weight: 700;
      transition:
        background 0.2s,
        color 0.2s;

      &:hover,
      &:focus {
        background: rgba($link-hovered, 0.15);
      }
    }

    &__hidden {
      display: none;
    }

    &--reset {
      mark {
        background-color: var(--bg-accent);
        color: black;
      }
    }

    &__loading {
      color: var(--bg-neutral);
      background-color: var(--bg-neutral);
      border-radius: var(--border-radius-s);
      pointer-events: none;
    }
  }
}

#search.o-search {
  &--contentpage {
    position: fixed;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
  }

  &--show {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: $search-z-index-focus;

    input.pagefind-ui__search-input {
      z-index: $search-z-index-focus;
    }

    .pagefind-ui__drawer {
      z-index: $search-z-index-focus;
    }

    .pagefind-ui__form::before {
      z-index: $search-z-index-focus + 1;
    }
  }
}
