.o-aside {
    position: sticky;
    top: 8rem;

    font-size: 1.4rem;
    line-height: 1.5;

    margin-right: 0;
    margin-bottom: 1.2rem;

    z-index: 3;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-wrap: wrap;
    height: fit-content;

    @media (min-width: #{$breakpoint-lg}) {
        margin-bottom: 0;
    }

    @media (max-width: #{$breakpoint-lg}) {
      position: fixed;
      left: 0;
      bottom: unset;
      top: 94vh;
      width: 100vw;
      margin-bottom: 0;
      box-shadow: 0 -.4rem 1rem 0 rgba(0,0,0,.1);
      background: white;
      border-radius: var(--border-radius-l) var(--border-radius-l) 0 0;
      gap: 0;

      .o-single__container {
        overscroll-behavior: contain;
        overflow: scroll;
        max-height: 70vh;
      }

      &--mobile-open {
        top: unset;
        bottom: 0;
      }
    }

    ul, ol {
        list-style-type: none;
        list-style-position: outside;
        padding-left: 0;

        ul, ol {
            margin-bottom: 0;
        }
    }

  #anfasser {
    display: none;
    margin: 0.1rem 2rem;

    button {
      border: none;
      background-color: inherit;
      width: 80vw;
    }

    @media (max-width: #{$breakpoint-lg}) {
      display: flex;
      align-self: center;
      flex-flow: column;

    }
  }

  &--mobile-open #anfasser button span {
    transform: rotate(180deg);
  }
}

.overlay--show {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    inset: 0;
    z-index: 3;
}

.o-aside a {
    text-decoration-line: none;
    display: flex;
    align-items: flex-start;
    gap: .4rem;
}

.o-aside__backlink-text {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.o-aside__toc {
    li {
        list-style-type: none;
    }

    ol {
        padding: 0 0 0 1em;
    }

    > ol {
        padding-left: 0;
    }
}

.o-aside__toc-link {
    display: flex;
}

.o-aside__toc a[data-current] {
    font-weight: bold;

    &:before {
        content: '';
        width: .4rem;
        height: 2.1rem;
        position: absolute;
        display: flex;
        left: 0;
        background-color: var(--link-default);
    }
}

.o-related {
    &__list {
        list-style-type: none;
        list-style-position: outside;
        padding-left: 0;
    }

    &-date {
        padding-left: 2.5rem;
    }

    p {
        margin-bottom: 0;
    }
}

.o-related__item img {
    border-radius: var(--border-radius-s);
}
