.o-aside {
    position: sticky;
    top: 8rem;

    font-size: 1.4rem;
    line-height: 1.5;

    margin-right: 0;
    margin-bottom: 1.2rem;

    z-index: 3;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-wrap: wrap;
    height: fit-content;

    @media (min-width: #{$breakpoint-lg}) {
        margin-bottom: 0;
    }

    .o-aside__collapsed-view {
        display: none;
    }

    @media (max-width: #{$breakpoint-lg}) {
      display: flex; // duplicated for the moment
      position: fixed;
      bottom: 0;
      left: 0;
      top: unset;
      width: 100vw;
      margin-bottom: 0;
      box-shadow: 0 -.4rem 1rem 0 rgba(0,0,0,.1);
      background: white;

        .o-aside__full-view {
            display: none;

            &--open {
              display: block;
            }
        }

      &:has(.o-aside__full-view--open) {
        border-radius: var(--border-radius-l) var(--border-radius-l) 0 0;

        &:before {
          content: '';
          width: 4rem;
          height: .5rem;
          position: absolute;
          display: flex;
          left: calc(50% - 2rem);
          top: .8rem;
          background-color: var(--color-body);
          border-radius: 2rem;
        }
      }

        .o-aside__collapsed-view {
          background: white;
          padding: 1.2rem 2rem;
          display: flex;
          justify-content: space-between;
          margin-left: auto;
          margin-right: auto;

          &--hide {
              display: none;
          }
        }
    }

    ul, ol {
        list-style-type: none;
        list-style-position: outside;
        padding-left: 0;

        ul, ol {
            margin-bottom: 0;
        }
    }
}

.overlay--show {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    inset: 0;
    z-index: 3;
}

.o-aside a {
    text-decoration-line: none;
    display: flex;
    align-items: flex-start;
    gap: .4rem;
}

.o-aside__backlink-text {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.o-aside__toc {
    li {
        list-style-type: none;
    }

    ol {
        padding: 0 0 0 1em;
    }

    > ol {
        padding-left: 0;
    }
}

.o-aside__toc-link {
    display: flex;
}

.o-aside__toc a[data-current] {
    font-weight: bold;

    &:before {
        content: '';
        width: .4rem;
        height: 2.1rem;
        position: absolute;
        display: flex;
        left: 0;
        background-color: var(--link-default);
    }
}

.o-related {
    &__list {
        list-style-type: none;
        list-style-position: outside;
        padding-left: 0;
    }

    &-date {
        padding-left: 2.5rem;
    }

    p {
        margin-bottom: 0;
    }
}

.o-related__item img {
    border-radius: var(--border-radius-s);
}
