.o-aside {
    position: sticky;
    top: 8rem;

    font-size: 1.4rem;
    line-height: 1.5;

    margin-right: 0;
    margin-bottom: 1.2rem;

    z-index: 3;

    @include media-breakpoint-up(lg) {
        margin-right: 1.2rem;
        margin-bottom: 0;
    }

    @include media-breakpoint-down(lg) {
        display: none;
    }

    .o-single__container {
        margin-bottom: 1.6rem;
    }

    .o-aside__mobile-container--open {
        @include media-breakpoint-down(lg) {
            display: block;
        }
    }
}

.tableOfContents ul {
    list-style-type: none;
    list-style-position: outside;
    padding-left: 0;
}

.tableOfContents a {
    text-decoration-line: none;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.toc li {
    list-style-type: none;
}

.toc ol {
    padding: 0 0 0 1em;
}

.toc > ol {
    padding-left: 0;
}

.toc-title {
    font-weight: bold;
}

.toc-link {
    display: flex;
}

.toc a[data-current] {
    font-weight: bold;

    &:before {
        content: '';
        width: .4rem;
        height: 2.1rem;
        position: absolute;
        display: flex;
        left: 0;
        background-color: var(--link-default);
    }
}
