.o-startpage h2:not(.m-teaser__headline) {
  margin-top: 2rem;
}

.o-startpage__intro {
  text-wrap: balance;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;

  @media (max-width: #{$breakpoint-md}) {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-family: Sansita, Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 6.2rem;
    line-height: 1.1;
    margin-bottom: 1rem;
  }

  > div {
    align-content: center;
  }

  @media (max-width: #{$breakpoint-md}) {
    h1 {
      font-size: 4.8rem;
    }
  }
}

.o-startpage__image {
  @media (max-width: #{$breakpoint-md}) {
    display: none;
  }
}

.o-startpage__shortcut-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr;
  gap: 2rem;
  margin-bottom: 2rem;

  @media (max-width: #{$breakpoint-md}) {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.o-startpage__news-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;

  @media (max-width: #{$breakpoint-md}) {
    display: flex;
    flex-wrap: wrap;
  }
}

.o-startpage__search {
  margin-bottom: 2rem;
  width: 100%;
}
