html {
  font-size: 62.5%;
  color: var(--color-onLight);
}

body {
  background-color: var(--bg-neutral);
  font-size: 1.8rem;
  overflow-x: hidden;
}

header {
  z-index: 4;
  position: relative;
}

a:not(.m-teaser) {
  color: var(--link-default);
  transition: all 0.3s ease;
  text-underline-offset: .2rem;

  &:hover,
  &:focus {
    color: var(--link-hovered);

    svg {
      fill: var(--link-hovered);
    }
  }

  svg {
    fill: var(--link-default);
    transition: fill 0.3s ease;
  }
}

a:has(i) {
  display: inline-flex;
  align-items: center;

  > :first-child {
    margin-right: .4rem;
  }
}

a.m-teaser {
  .m-teaser__headline {
    color: var(--link-default);
    text-decoration: underline;
    transition: color .3s ease;
    text-underline-offset: .2rem;
  }

  &:hover,
  &:focus {
    .m-teaser__headline {
      color: var(--link-hovered);
    }
  }
}

//space for fixed header
main > .o-stage {
  margin-top: 5.3rem;
}

//space for fixed header
main > .container.o-single,
main > .container.o-list {
  margin-top: 8rem;
}

main > .container {
  margin-top: 4rem;
  background-color: var(--bg-default);
  border-radius: var(--border-radius-l);
  padding: 2rem;

  @include media-breakpoint-down(sm) {
    margin-top: 1.6rem;
  }
}

main > .container:is(.o-single--with-sidemenu) {
  background-color: unset;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-m);
}

.o-list__picture {
  width: 15rem;
  margin-right: 1.2rem;
}

.o-list__picture--operator {
  width: auto;
}

.o-list__link-wrapper {
  display: flex;
  margin-bottom: 0;

  li {
    list-style-type: none;
  }
}

.o-list__link {
  display: flex;
  align-items: center;
}



.container {
  @include media-breakpoint-down(sm) {
    max-width: calc(100% - 3.6rem);
  }
}

.o-single {
  padding: 2rem;
  background-color: var(--bg-default);
  border-radius: var(--border-radius-l);

  &--with-sidemenu {
    padding: 0;
    background-color: inherit;
  }
}

.o-single__header {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  column-gap: 2rem;
  margin-bottom: 1.6rem;
  align-items: center;

  h2 {
    margin-bottom: 0;
  }
}

.o-single__header__title {
  display: flex;
  align-items: center;
  gap: 1rem; // Adjust spacing between the image and the heading
}

.o-single__header__title h1 {
  margin-bottom: 0;
}

.o-single__header__title img {
  max-height: 3.6rem;
  width: auto;
}

.o-single__container {
  background-color: var(--bg-default);
  padding: 2rem;
  border-radius: var(--border-radius-l);
  margin-bottom: 2.4rem;

  .content span:not(:first-of-type)::before {
    content: "";
    display: block;
    width: 100%;
    margin: 3.2rem 0;
    background-image: url("/intersector.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 2.4rem;
    opacity: 50%;
  }
}