html {
  font-size: 62.5%;
  color: var(--color-onLight);
}

body {
  background-color: #EBE9E1;
  font-size: 1.8rem;
  overflow-x: hidden;
}

header {
  z-index: 3;
  position: relative;
}

a:not(.m-teaser) {
  color: var(--link-default);

  &:hover,
  &:focus {
    color: var(--link-hovered);
  }
}

a.m-teaser {
  .m-teaser__headline {
    color: var(--link-default);
    text-decoration: underline;
    transition: color .3s ease;
  }

  &:hover,
  &:focus {
    .m-teaser__headline {
      color: var(--link-hovered);
    }
  }
}

header {
  background-color: #fff;
}

main > .container:not(.o-stage) {
  margin-top: 4rem;
  background-color: var(--bg-default);
  border-radius: var(--border-radius-l);
  padding: 2rem;

  @include media-breakpoint-down(sm) {
    margin-top: 1.6rem;
  }
}

img {
  width: 100%;
  height: auto;
}

details {
  position: relative;
  overflow: hidden;
  padding: 5px;
}

details[open] summary ~ * {
  animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

p {
  margin-bottom: 3.2rem;
}

p:has( + ul) {
  margin-bottom: 1rem;
}

article p:last-child {
  margin-bottom: 0;
}

.container {
  @include media-breakpoint-down(sm) {
    max-width: calc(100% - 3.6rem);
  }
}