.a-tag {
  display: flex;
  align-items: flex-start;
  gap: 0.4rem;
  padding: 0.4rem 0.6rem;
  border-radius: var(--border-radius-s);
  font-size: 0.9em;
  font-weight: 500;

  @each $name, $color in $tag-colors {
    &--#{$name} {
      background: var(--tag-#{$name}-bg);
      color: var(--tag-#{$name}-color);
      border: 0.1rem solid var(--tag-#{$name}-color);
    }
  }

  &--newsUpdate {
    background: #ffffff;
    color: #414141;
    border: 0.1rem solid #414141;
    border-radius: var(--border-radius-m);
    padding: 0.3rem 0.4rem;

    .a-tag__text {
      text-box-trim: trim-both;
    }
  }

  &__text {
    align-self: center;
  }
}
