.o-taxation-embed {
  margin-top: 1rem;

  &__loading {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius-m);
    background: var(--bg-neutral);
    color: var(--color-body);
  }

  .m-text-highlight {
    margin-top: 0;
  }
}
