.m-teaser {
    text-decoration: none;
    color: var(--link-special);

    &:nth-child(-n+3) {
        @media (max-width: #{$breakpoint-lg}) {
            margin-bottom: 2rem;
        }
    }
}

.m-teaser--listview {
    margin-bottom: 2.4rem;
    display: flex;

    @media (max-width: #{$breakpoint-md}) {
        flex-flow: wrap;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

.m-teaser img {
    aspect-ratio: 16/9;
}

.m-teaser__dateline {
    font-size: 1.4rem;
}

.m-teaser__headline {
    margin-bottom: .5rem;
}
