.m-teaser {
    text-decoration: none;
    color: #000;

    &:nth-child(-n+3) {
        @include media-breakpoint-down(lg) {
            margin-bottom: 2rem;
        }
    }
}

.m-teaser--listview {
    margin-bottom: 2.4rem;
}

.m-teaser__headline {
    color: #ec0016;
    text-decoration: underline;

}

.m-teaser img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 1rem;
}

.m-teaser__dateline {
    font-size: 1.4rem;
}

.m-teaser__headline {
    margin-bottom: .5rem;
}

.o-stage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.o-stage__searchfield {
    position: absolute;
    width: 60%;
    height: 6rem;
    background-color: white;
    border-radius: 1rem;
}