.m-text-highlight {
  background-color: var(--bg-neutral);
  padding: 1.2rem;
  margin-bottom: 1.2rem;
  border-radius: var(--border-radius-m);
  border-left: var(--bg-neutral) solid 1rem;

  // Remove margins from last elements of expander (up to 2 levels deep)
  & > *:last-child,
  & > *:last-child > *:last-child {
    margin-bottom: 0;
  }

  @media print {
    page-break-inside: avoid;
    padding: 0.6rem;
  }
}

.m-text-highlight__roofline {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.8;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.m-text-highlight--tip {
  background-color: var(--highlight-color-tip);
  border-left: #1db5df solid 1rem;

  @media print {
    border: 0.2rem solid #1db5df;
  }
}

.m-text-highlight--inofficial {
  background-color: var(--highlight-color-inofficial);
  border-left: #878c96 solid 1rem;

  @media print {
    border: 0.2rem solid #878c96;
  }
}

.m-text-highlight--important {
  background-color: var(--highlight-color-important);
  border-left: #ba3d12 solid 1rem;

  @media print {
    border: 0.2rem solid #ba3d12;
  }
}
