.m-text-highlight {
  padding: 1.2rem;
  margin-bottom: 1.2rem;
  border-radius: var(--border-radius-m);

  @media print {
    border-width: 0.1rem;
  }

  // Remove margins from last elements of expander (up to 2 levels deep)
  & > *:last-child,
  & > *:last-child > *:last-child {
    margin-bottom: 0;
  }

  @media print {
    page-break-inside: avoid;
    padding: 0.6rem;
  }
}

.m-text-highlight__roofline {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.8;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

@each $name, $color in $highlight-colors {
  .m-text-highlight--#{$name} {
    background-color: var(--highlight-#{$name}-bg);
    border: var(--highlight-#{$name}-color) solid 0.1rem;
    border-width: 0.1rem 0.1rem 0.1rem 1rem;

    @media print {
      background-color: none;
    }

    > .m-text-highlight__roofline {
      color: var(--highlight-#{$name}-color);
    }
  }
}
