.m-text-highlight {
  background-color: #eee;
  padding: 1.2rem;
  margin-bottom: 1.2rem;
  border-radius: var(--border-radius-m);
  border-left: var(--bg-neutral) solid 1rem;
}

.m-text-highlight--tip {
  background-color: #c4f2ff;
  border-left: #1db5df solid 1rem;
}

.m-text-highlight--inofficial {
  background-color: #f0f3f5;
  border-left: #878c96 solid 1rem;
}

.m-text-highlight--important {
  background-color: #ffe3d9;
  border-left: #ba3d12 solid 1rem;
}
