.toc li {
    list-style-type: none;
  }

.toc ol {
    padding: 0 0 0 1em;
}

.toc > ol {
    padding-left: 0;
}

.toc-title {
    font-weight: bold;
}

.toc-link {
    display: flex;
}

.toc a[data-current] {
    font-weight: bold;

    &:before {
        content: '';
        width: .4rem;
        height: 2.1rem;
        position: absolute;
        display: flex;
        left: 0;
        background-color: var(--link-default);
    }
}