.o-nav-desktop {
  display: none;

  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

.o-nav-mobile {
  display: flex;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.o-nav-desktop ul,
.o-nav-desktop li {
  list-style: none;
}

.o-nav__items {
  display: flex;
  margin-bottom: 0;
  padding: 0;
}

.o-nav__item {
  margin: 1.6rem;
}

.o-nav__item a,
.o-nav__menu-button,
.o-nav__item > details {
  font-size: 1.6rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  vertical-align: middle;
  display: flex;

  &:hover {
    text-decoration: underline;
  }
}

.o-nav__item h1 {
  margin: 0;
  font-size: 1.6rem;
  line-height: var(--bs-body-line-height);
  display: flex;
  vertical-align: middle;
}

.o-nav__item summary {
  list-style: none;
}

.o-nav button {
  background-color: unset;
  border: none;
}

.o-nav__menu-button img {
  margin-left: .8rem;
}