.o-header {
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-up(md) {
    justify-content: unset;
  }
}

.o-header__curtain:has(~ .o-header__nav--open)  {
  background-color: rgba(0, 0, 0, .8);
  inset: 0;
  position: fixed;
}

.o-header__nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.o-header__nav nav {
  width: 100%;
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.o-header__logo {
  display: flex;
  padding: 1rem;
}

.o-header__nav menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.o-header__skip-link {
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  margin: .3rem;
  pointer-events: none;

  &:focus {
    opacity: 1;
    pointer-events: auto;
  }
}

.o-header__item {
  list-style: none;

  //normales Menü
  ul {
    display: flex;
    margin: 0;
  }
}

.o-header__item a,
.o-header__expand-button,
.o-nav__menu-button,
.o-nav__close-button {
  display: inline-flex;
  padding: 1rem;
  margin: .3rem;
  text-decoration: underline;
  border: none;
  background: none;
  width: fit-content;
}

.o-header__expand-button img,
.o-nav__menu-button img,
.o-nav__close-button img {
  margin-left: .8rem;
  align-self: center;
  width: 2.4rem;
  height: auto;
}

.o-header__item menu {
  visibility: unset;

  @include media-breakpoint-up(md) {
    visibility: hidden;
    z-index: 2;
    position: absolute;
    padding: 1rem;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 .4rem 1rem 0 rgba(0,0,0,.1);
    border-radius: .4rem;

    &:before {
      content: "";
      position: absolute;
    }
  }
}

.o-header__expand-button:is(:hover, :focus-visible) ~ menu {
  visibility: visible;
}

.o-nav__close-button,
.o-nav__menu-button {
  display: flex;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.o-header__expand-button {
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
  }
}

.o-header__nav--open nav {
  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    top: 10rem;
    right: 0;
    width: 80%;
    z-index: 2;
    background-color: white;

    transform: translateX(0);

    ul {
      flex-direction: column;
      align-items: flex-end;
    }
  }
}