.o-stage {
    margin-bottom: 4rem;
}

.o-stage img {
    width: 100%;
    aspect-ratio: 4/1;
    max-width: 1320px;
    border-radius: 0 0 1rem 1rem;
}

.o-stage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.o-stage__searchfield {
    position: absolute;
    width: 60%;
    height: 6rem;
    background-color: white;
    border-radius: 1rem;
}