.o-stage {
    margin-bottom: 4rem;
}

.o-stage > picture {
    width: 100%;
    max-width: 1320px;

    img {
        border-radius: 0 0 1rem 1rem;
    }
}

.o-stage {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    position: absolute;
    width: 80%;
    height: 6rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    z-index: 2;

    @include media-breakpoint-up(md) {
        width: 60%;
    }

    .pagefind-ui__search-input {
        z-index: 3;
        outline: .2rem solid transparent;

        &:focus {
            outline: .2rem solid orange;
            outline-offset: .1rem;
        }
    }

    .pagefind-ui__search-clear {
        z-index: 3;
        height: auto;
        padding: 1rem;
        top: .7rem;
        margin-right: .7rem;
    }

    .pagefind-ui__suppressed {
        display: none;
    }

    .pagefind-ui__drawer {
        background-color: white;
        padding: 0 1rem;
        overscroll-behavior: contain;
        height: 35rem;
        overflow-y: scroll;
        position: relative;
        top: -.7rem;
        border-left: var(--pagefind-ui-border-width) solid var(--pagefind-ui-border);
        border-right: var(--pagefind-ui-border-width) solid var(--pagefind-ui-border);
        border-bottom: var(--pagefind-ui-border-width) solid var(--pagefind-ui-border);
        border-bottom-left-radius: var(--pagefind-ui-border-radius);
        border-bottom-right-radius: var(--pagefind-ui-border-radius);
    }

    .pagefind-ui__result-link:focus {
        outline: .2rem solid orange;
        outline-offset: .1rem;
        border-radius: .4rem;
    }

    .pagefind-ui__result-link::before {
        top: -.2rem;
    }
}

.curtain {
    background-color: rgba(0, 0, 0, .8);
    z-index: 2;
    transition: opacity .3s ease;
    opacity: 0;
}

.curtain:has(~ .o-stage .o-stage__search:focus-within),
.curtain:has(~ .o-stage .pagefind-ui__drawer:not(.pagefind-ui__hidden)) {
    opacity: 1;
    inset: 0;
    position: fixed;
}