.o-stage {
    margin-bottom: 4rem;
}

.o-stage img {
    width: 100%;
    aspect-ratio: 4/1;
    max-width: 1320px;
    border-radius: 0 0 1rem 1rem;
}

.o-stage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.o-stage__search-container {
    position: absolute;
    width: 60%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.o-stage__search-field {
    width: 100%;
    height: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
    border-radius: 1rem 0 0 1rem;
}

.o-stage__button {
    border-radius: 0 1rem 1rem 0;
}