html {
  font-size: 62,5%;
  color: #000;
}

body {
  background-color: $gray-300;
  font-size: 1.8rem;
}

a {
  color: #ec0016;

  &:hover {
    color: green;
  }
}

header {
  background-color: #fff;
}