html {
  font-size: 62.5%;
  color: #000;
}

body {
  background-color: $gray-300;
  font-size: 1.8rem;
}

a {
  color: #ec0016;

  &:hover,
  &:focus {
    color: #c50014;
  }
}

.o-footer__link {
  text-decoration: underline;
  color: black;
  font-weight: 700;

  &:hover,
  &:focus {
    color: red;
  }
}

header {
  background-color: #fff;
}

main > .container:not(.o-stage) {
  margin-top: 4rem;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
}

img {
  width: 100%;
  height: auto;
}