<li class="o-header__item o-dropdown">
  <button
    id="{{ .id }}-button"
    class="o-dropdown__button"
    aria-expanded="false"
    aria-haspopup="listbox"
    aria-controls="{{ .id }}-dropdown"
    title="{{ T (printf "%s.title" .key) }}"
    aria-label="{{ T (printf "%s.aria-label" .key) }}"
    style="anchor-name: --{{ $id }}"
  >
    <span>{{ T (printf "%s.label" .key) }}</span>
    <div class="o-dropdown__icon">
      {{ partial "icon" "keyboard_arrow_down" }}
    </div>
  </button>
  <menu
    id="{{ .id }}-dropdown"
    class="o-dropdown__menu o-dropdown__menu--below {{ if .vertical }}
      o-dropdown__menu--vertical
    {{ end }}"
    role="listbox"
    aria-hidden="true"
    aria-label="{{ T (printf "%s.dropdown-label" .key) }}"
    style="position-anchor: --{{ $id }}"
  >
    {{ range .items }}
      {{- $prefix := "" -}}
      {{- if eq $.textType "flag" -}}
        {{- $prefix = partial "flag" (dict "country" .File.ContentBaseName) -}}
      {{- else if eq $.textType "operator-logo" -}}
        {{- $prefix = partial "operator-logo" (dict "operator" .File.ContentBaseName) -}}
      {{- end -}}
      <li
        class="o-dropdown__item"
        {{ if (.Eq $.currentPage) }}aria-selected="true"{{ end }}
      >
        {{- partial "link"
          (dict
          "Destination" .RelPermalink
          "Text" (print $prefix .Title | safeHTML)
          )
        -}}
      </li>
    {{ end }}
  </menu>
</li>
