<div class="o-header__item--mobile">
  {{ partial "search-button-mobile" }}
</div>
<div class="o-header__item--mobile">
  {{ partial "theme-toggle-button" }}
</div>
<button
  class="o-nav__menu-button"
  title="{{ T "menu.open.title" }}"
  aria-expanded="false"
  aria-haspopup="true"
>
  <span>{{ T "menu.open.label" }}</span>
  {{ partial "icon" "menu" }}
</button>
<nav>
  <button class="o-nav__close-button" title="{{ T "menu.close.title" }}">
    <span>{{ T "menu.close.label" }}</span>
    {{ partial "icon" "close" }}
  </button>
  <menu>
    <li class="o-header__item">
      <menu>
        {{ $currentPage := . }}
        <hr aria-hidden="true" />
        {{ partial "nav-dropdown" (dict
          "id" "navbar-country-selection"
          "key" "menu.country-dropdown"
          "items" (where site.RegularPages "Section" "country")
          "currentPage" $currentPage
          "textType" "flag"
          )
        }}
        <hr aria-hidden="true" />
        {{ partial "nav-dropdown" (dict
          "id" "navbar-operator-selection"
          "key" "menu.operator-dropdown"
          "items" (where site.RegularPages "Section" "operator")
          "currentPage" $currentPage
          "textType" "operator-logo"
          )
        }}
        <hr aria-hidden="true" />
        <li class="o-header__item" id="li-header-news">
          {{ $news := site.GetPage "news" }}
          {{- partial "link"
            (dict
            "Destination" $news.RelPermalink
            "Text" $news.Title
            )
          -}}
        </li>
        <hr aria-hidden="true" />
        {{ $generalSection := site.GetPage "section" "general" }}
        {{ partial "nav-dropdown" (dict
          "id" "navbar-generalinformation-selection"
          "key" "menu.generalinformation-dropdown"
          "items" $generalSection.Pages.ByTitle
          "currentPage" $currentPage
          "vertical" true
          )
        }}
        <hr aria-hidden="true" />
      </menu>
    </li>
    <li class="o-header__item o-header__item--desktop">
      <menu class="o-header__utility-menu">
        <li
          class="o-header__item o-header__item--button o-header__item--desktop o-header__item--desktop-search-icon"
        >
          {{ partial "search-button-mobile" }}
        </li>
        <li
          class="o-header__item o-header__item--button o-header__item--desktop o-header__item--desktop-search"
        >
          {{ partial "search-button" }}
        </li>
        <li
          class="o-header__item o-header__item--button o-header__item--desktop"
        >
          {{ partial "theme-toggle-button" }}
        </li>
      </menu>
    </li>
  </menu>
</nav>
