{{ define "main" }}
<div class="curtain"></div>
  {{ partial "stage.html" }}
  <section class="container">
    {{ .Content }}
    {{ T "country"}}:
    {{ range  where site.RegularPages "Section" "country"}}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    {{ end }}
  </section>
  <section class="container">
      <div class="row">
          <h3>Die neuesten Neuigkeiten 🔥</h3>
          {{ range first 3 (where site.RegularPages "Section" "news") }}
              {{ partial "teaser.html" . }}
          {{ end }}
      </div>
  </section>
{{ end }}
