<!doctype html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head" . }}
  </head>
  <body>
    <div id="overlay"></div>
    <header id="header" class="o-header">{{ partial "header.html" . }}</header>
    <main id="content" class="{{ if .IsHome }}o-startpage{{ end }}">
      <div class="o-container">
        {{ block "main" . }}{{ end }}
      </div>
    </main>
    <footer class="o-footer o-container">{{ partial "footer.html" . }}</footer>
    {{ if and (eq .Kind "page") (or (eq .Page.Type "country") (eq .Page.Type "operator")) }}
      {{ partial "snackbar" . }}
    {{ end }}
  </body>
</html>
