<!DOCTYPE html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <header id="header" class="o-header">{{ partialCached "header.html" . }}</header>
    <main id="content">{{ block "main" . }}{{ end }}</main>
    <footer>{{ partial "footer.html" . }}</footer>
    {{ if and (eq .Kind "page") (or (eq .Page.Type "country") (eq .Page.Type "operator")) }}
      {{ partial "snackbar" . }}
    {{ end }}
  </body>
</html>
