<!doctype html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head" . }}
  </head>
  <body>
    <div id="header">
      <div class="o-container o-header">
        <div id="overlay" aria-hidden="true"></div>
        <header>{{ partial "header.html" . }}</header>
        <nav class="o-header__nav o-container">
          {{ partial "navigation.html" . }}
        </nav>
      </div>
    </div>
    <main
      id="content"
      {{- if .IsHome -}}
        class="o-startpage"
      {{- else if eq .Page.Type "news" -}}
        class="o-newspage"
      {{- else if eq .Page.Type "booking" -}}
        class="o-bookingpage"
      {{- end -}}
    >
      <div class="o-container">
        {{- if not .IsHome -}}
          <div
            id="search"
            class="o-search o-container o-search--contentpage"
            data-placeholder="{{ T "search.placeholder" }}"
            data-label="{{ T "search.label" }}"
          ></div>
        {{ end }}
        {{ block "main" . }}{{ end }}
      </div>
    </main>
    <footer class="o-footer o-container">{{ partial "footer.html" . }}</footer>
    {{ if or (eq .Page.Type "country") (eq .Page.Type "operator") (eq .Page.Type "generalinformation") }}
      {{ partial "snackbar" . }}
    {{ end }}
  </body>
</html>
