{{ define "main" }}
<h1 class="sr-only">{{ T "home-page-text" }}</h1>
<div class="curtain" aria-hidden="true"></div>
  {{ partial "stage.html" }}
  <section class="container">
    {{ .Content }}
  </section>
  <section class="container">
      <div class="row justify-content-center">
          <h2>{{ T "news-headline"}}</h2>
          {{ range first 3 (where site.RegularPages "Section" "news") }}
            {{ partial "teaser.html" (dict "listview" false "type" "news" "page" .) }}
          {{ end }}
      </div>
  </section>
{{ end }}
