{{ define "main" }}
<h1 class="sr-only">{{ T "home-page-text" }}</h1>
<section class="container">
  <div class="row">
    <div class="col-12">
      {{ partial "search-slot" }}
    </div>
  </div>

  <div class="row o-startpage__intro">
    <div>
      {{ .Content }}
      <div class="o-startpage__shortcut-wrapper">
        {{ partial "shortcut-tile" (.Site.GetPage "generalinformation") }}
        {{ partial "shortcut-tile" (.Site.GetPage "country") }}
        {{ partial "shortcut-tile" (.Site.GetPage "operator") }}
      </div>
    </div>
    <div class="o-startpage__image">
      {{ $image := resources.Get "images/startpage.png" }}
      {{ partial "image.html" (dict "image" $image "eager" true) }}
    </div>
  </div>
</section>
<section class="container">
  <div class="row">
    <div class="col-12">
     {{ (site.GetPage "_supportUs").Content }}
    </div>
  </div>
</section>
<section class="container">
    <div class="row justify-content-center">
        <h2>{{ T "news-headline"}}</h2>
        {{ range first 3 (where site.RegularPages "Section" "news") }}
          {{ partial "teaser.html" (dict "listview" false "type" "news" "page" .) }}
        {{ end }}
    </div>
</section>
<div class="curtain" aria-hidden="true"></div>
{{ end }}
