{{ define "main" }}
    <article class="container o-single">
        <div class="o-single__header">
            <h2 data-pagefind-meta="title">{{ .Title }}</h2>
            {{ partial "updateDate.html" . }}
        </div>

        <div class="content" data-pagefind-body>
            {{ .Content }}
        </div>

        {{ partial "related.html" . }}
    </article>

    {{ with .Resources.GetMatch "image.webp" }}
        {{ $image := . }}
        {{ partial "structuredData.html" (dict "image" $image "type" "NewsArticle" "page" .) }}
    {{ end }}
{{ end }}
