{{ define "main" }}
<article class="container">
    <h1 data-pagefind-meta="title">{{ .Title }}</h1>

    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <div class="updateDate">
        <time datetime="{{ $dateMachine }}">Zuletzt aktualisiert: {{ $dateHuman }}</time>
    </div>

    <div class="content">
        {{ .Content }}
    </div>
    
    {{ $related := .Site.RegularPages.RelatedIndices . "country" }}
    {{ with $related }}
        <h3>See Also</h3>
        <ul>
        {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
        {{ end }}
        </ul>
    {{ end }}
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
</article>
{{ end }}