{{ define "main" }}
<article class="container o-single">
    <h2 data-pagefind-meta="title">{{ .Title }}</h2>

    {{ partial "updateDate.html" . }}

    <div class="content">
        {{ .Content }}
    </div>
    
    {{ $related := .Site.RegularPages.RelatedIndices . "country" }}
    {{ with $related }}
        <h3>See Also</h3>
        <ul>
        {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
        {{ end }}
        </ul>
    {{ end }}
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
</article>
{{ end }}