{{ define "main" }}
    <article class="container o-single o-single--with-sidemenu">
        <aside id="aside" class="o-aside">
            {{ partial "image" (partial "helper/contentImage" . ) }}
            <div class="o-single__container">
                <h3 id="other-news-list-title">{{ T "news-other" }}</h3>
                <ul class="o-news__list" aria-labelledby="other-news-list-title">
                    {{ $current := . }}
                    {{ range first 5 (where (where site.RegularPages "Section" "news") "Permalink" "ne" $current.Permalink) }}
                    <li>
                        {{ partial "internal_link"
                            (dict
                                "Destination" .RelPermalink
                                "Text" ((print (partial "icon" "newspaper" ) (.Title)) | .Page.RenderString)
                            )
                        }}
                        <span class="o-news__list-date">{{ .Date | time.Format ":date_long"}}</span>
                    </li>
                    {{ end }}
                </ul>
                <hr>
                {{ partial "link"
                    (dict
                        "Destination" (print .Site.Params.githubDevUrl "blob/main/content" .Path "/index." .Language ".md")
                        "Text" ((print (partial "icon" "edit_square" ) (T "editPage")) | .Page.RenderString)
                    )
                }}
            </div>
        </aside>
        <div class="o-single__container content_with_heading" data-pagefind-body>
            <div class="o-single__content-header">
                <h2 data-pagefind-meta="title">{{ .Title }}</h2>
                {{ partial "updateDate.html" . }}
            </div>
            <div class="o-single__news-image">
                {{ partial "image" (partial "helper/contentImage" . ) }}
            </div>
            <div data-pagefind-body>
                {{ .Content }}
            </div>
        </div>
    </article>
{{ end }}
