{{- $side := .side -}}
{{- $page := .page -}}
{{- $countryItems := slice -}}
{{- with $side.country -}}
  {{- $countryItems = slice . -}}
{{- end -}}
{{- $countryLabel := partial "helper/borderPointsRefs" (dict "prefix" "country" "items" $countryItems "page" $page) -}}
{{- $operators := partial "helper/borderPointsRefs" (dict "prefix" "operator" "items" $side.operators "page" $page) -}}

{{- $out := delimit $countryLabel ", " -}}
{{- with $operators -}}
  {{- $joined := delimit . ", " -}}
  {{- $out = cond (ne $out "") (printf "%s (%s)" $out $joined) $joined -}}
{{- end -}}
{{- return $out -}}
