{{- $side := .side -}}
{{- $page := .page -}}

{{- $countryLabel := partial "helper/borderPointsRefs" (dict "prefix" "country" "id" $side.country.id "label" $side.country.label "page" $page) -}}

{{- $operators := slice -}}
{{- range $side.operators -}}
  {{- $operators = $operators | append (partial "helper/borderPointsRefs" (dict "prefix" "operator" "id" .id "label" .label "page" $page)) -}}
{{- end -}}

{{- $out := printf "%s (%s)" $countryLabel (delimit $operators ", ") -}}
{{- return $out -}}
