{{- $prefix := .prefix -}}
{{- $page := .page -}}
{{- $out := slice -}}
{{- range .items -}}
  {{- $id := .id -}}
  {{- $label := .label -}}
  {{- $ref := "" -}}
  {{- with $id -}}
    {{- with site.GetPage (printf "/%s/%s" $prefix .) -}}
      {{- if not $label -}}
        {{- $label = .Params.shortName | default .LinkTitle -}}
      {{- end -}}
      {{- $ref = printf "/%s/%s" $prefix $id -}}
    {{- end -}}
  {{- end -}}
  {{- with $label -}}
    {{- if $ref -}}
      {{- $out = $out | append (partial "link" (dict "Destination" $ref "Text" . "Page" $page)) -}}
    {{- else -}}
      {{- $out = $out | append . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $out -}}
