{{ define "main" }}
<div class="curtain" aria-hidden="true"></div>
<article class="container o-single o-single--with-sidemenu">
    <div class="row">
        <div class="col-12 col-lg-4">
            {{ partial "sidemenu.html" . }}
        </div>

        <div class="col-12 col-lg-8">
            <div class="o-single__container content_with_heading">
                <div class="o-single__header">
                    <h2 data-pagefind-meta="title">{{ .Title }}</h2>
                    {{ partial "updateDate.html" . }}
                </div>

                <div class="content" data-pagefind-weight="2">
                    {{ .Content }}
                </div>
            </div>

        </div>

        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
</article>
{{ end }}