{{ define "main" }}
{{ $related := .Site.RegularPages.RelatedIndices . "country" }}

<div class="curtain" aria-hidden="true"></div>
<article class="container o-single o-single--with-sidemenu">
    {{ partial "sidemenu" . }}
    <div class="o-single__content" data-pagefind-body>
        <div class="o-single__container content_with_heading">
            <div class="o-single__content-header">
                <div class="o-single__content-header-title">
                    {{ $object := replace .Path (printf "/%s/" .Page.Type) "" }}
                    {{ $image := resources.Get (printf "images/flags/%s.webp" $object) }}
                    <img data-pagefind-meta="image[src]" src="{{ $image.RelPermalink }}" alt="" />
                    <h1 data-pagefind-meta="title">{{ .Title }}</h1>
                </div>
                {{ partial "updateDate.html" . }}
            </div>

            <div data-pagefind-weight="2">
                {{ partial "content" . }}
            </div>
        </div>
        <div class="o-single__container o-related__operator-wrapper">
            {{ $title := print (T "_operator__list_title") " in " .Title}}
            {{ partial "related" (dict "index" "country" "pageType" "operator" "title" $title "page" . "identifier" "operators") }}
        </div>
        {{ partial "image" (partial "helper/contentImage" . ) }}
    </div>
</article>
{{ end }}
