{{ define "main" }}
{{ $related := .Site.RegularPages.RelatedIndices . "country" }}

<div class="curtain" aria-hidden="true"></div>
<article class="container o-single o-single--with-sidemenu">
    <div class="row">
        <div class="col-12 col-lg-4">
            {{ partial "sidemenu.html" . }}
        </div>

        <div class="col-12 col-lg-8">
            <div class="o-single__container content_with_heading">
                <div class="o-single__header">
                    <h1 data-pagefind-meta="title">{{ .Title }}</h1>
                    {{ partial "updateDate.html" . }}
                </div>

                <div class="content" data-pagefind-weight="2">
                    {{ .Content }}
                </div>
            </div>
            <div class="o-single__container">
                <h3 id="related">{{ T "_operator__list_title"}} in {{ .Title }}</h3>
                <div class="row">
                    <ul class="o-list__link-wrapper row">
                        {{ range $related }}
                            <li class="col-12 col-lg-3 col-sm-6">
                                {{ partial "operator-list-item" . }}
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>
{{ end }}