{{- $lang := .Page.Language.Lang -}}
{{- $base := .Site.Params.taxationRemoteBaseURL | default "" -}}
{{- $warning := T "taxation.intranet-only-warning" -}}
{{- $i18nTaxation := dict
  "first-class" (T "taxation.first-class")
  "second-class" (T "taxation.second-class")
  "no-first-class" (T "taxation.no-first-class")
  "add" (dict
  "operator" (T "taxation.add.operator")
  "national" (T "taxation.add.national")
  "other" (T "taxation.add.admission")
  "month" (T "taxation.add.month")
  )
  "national-employee-checkbox" (T "taxation.national-employee-checkbox")
  "national-employee-warning" (T "taxation.national-employee-warning")
  "card-persons" (dict
  "one" (T "taxation.card-persons.single")
  "other" (T "taxation.card-persons.plural" (dict "Count" "__COUNT__"))
  )
  "field-count-heading" (T "taxation.field-count-heading")
  "ticket-count-heading" (T "taxation.ticket-count-heading")
  "price-per" (dict
  "field" (T "taxation.price-per.field")
  "ticket" (T "taxation.price-per.ticket")
  )
  "remove" (T "taxation.remove")
  "increase" (T "taxation.increase")
  "decrease" (T "taxation.decrease")
  "category" (dict
  "international" (T "taxation.category.international")
  "national" (T "taxation.category.national")
  "other" (T "taxation.category.admission")
  )
  "other-placeholder" (T "taxation.other-placeholder")
  "person-limit" (T "taxation.person-limit")
  "planning" (T "taxation.planning")
  "planning-description" (T "taxation.planning-description")
  "planning-focus" (T "taxation.planning-focus")
  "optimize" (T "taxation.optimize")
  "optimization-month" (T "taxation.optimization-month")
  "unassigned" (T "taxation.unassigned")
  "distribution" (T "taxation.distribution")
  "highlight-important" (T "taxation.highlight-important")
  "person" (T "taxation.person")
  "person-one" (T "taxation.person-one")
  "person-other" (T "taxation.person-other")
  "lock" (T "taxation.lock")
  "unlock" (T "taxation.unlock")
  "person-limit-not-supported-warning" (T "taxation.person-limit-not-supported-warning")
  "summary" (dict
  "under-limit" (T "taxation.summary.under-limit" (dict "Threshold" "__THRESHOLD__"))
  "over-limit-unassigned" (T "taxation.summary.over-limit-unassigned" (dict "Threshold" "__THRESHOLD__"))
  "all-assigned-ok" (T "taxation.summary.all-assigned-ok" (dict "Threshold" "__THRESHOLD__"))
  "all-assigned-over-month" (T "taxation.summary.all-assigned-over-month" (dict "Threshold" "__THRESHOLD__"))
  )
  "sum" (T "taxation.sum")
  "reset" (T "taxation.reset")
-}}
{{- $i18nPayload := dict
  "taxation" $i18nTaxation
  "highlight" (dict
  "important" (T "highlight.important")
  "success" (T "highlight.success")
  )
-}}


<div
  class="o-taxation-embed"
  data-taxation-remote-root
  data-taxation-remote-base-url="{{ $base }}"
  data-taxation-remote-lang="{{ $lang }}"
  data-taxation-remote-warning="{{ $warning }}"
  data-taxation-remote-i18n="{{ $i18nPayload | jsonify }}"
>
  <template data-taxation-remote-warning-template>
    {{ partial "highlight" (dict
      "Type" "important"
      "Content" ($warning | $.Page.RenderString)
      )
    }}
  </template>
  <template data-taxation-remote-loading-template>
    <div
      class="o-taxation-embed__loading m-text-highlight m-text-highlight--tip"
    >
      <div class="o-taxation-embed__loading-content">
        {{- partial "icon" "downloading" -}}
        <span>{{ T "taxation.loading" }}</span>
      </div>
    </div>
  </template>
</div>

{{- with resources.Get "js/taxationEmbed.js" }}
  {{- if eq hugo.Environment "development" }}
    {{- with . | js.Build }}
      <script src="{{ .RelPermalink }}" defer></script>
    {{- end }}
  {{- else }}
    {{- with . | js.Build (dict "minify" true) | fingerprint }}
      <script
        src="{{ .RelPermalink }}"
        integrity="{{ .Data.Integrity }}"
        crossorigin="anonymous"
        defer
      ></script>
    {{- end }}
  {{- end }}
{{- end }}
