{{- $params := .params -}}
{{- $metaFields := .metaFields -}}
{{- $emailTemplates := $params.email_templates -}}
{{- $emailButtons := slice -}}
{{- range $metaFields -}}
  {{- $template := and $emailTemplates (index $emailTemplates .key) -}}
  {{- $showEmailButton := and (eq $params.type "email") (eq .value true) $template $template.to $template.subject $template.body -}}
  {{- if $showEmailButton -}}
    {{- $buttonText := T "booking.send-mail" -}}
    {{- if .label -}}
      {{- $buttonText = printf "%s (%s)" (T "booking.send-mail") (T .label) -}}
    {{- end -}}
    {{- $emailButtons = $emailButtons | append (dict
      "Destination" (printf "mailto:%s?subject=%s&body=%s" $template.to (replace ($template.subject | urlquery) "+" "%20") (replace ($template.body | urlquery) "+" "%20"))
      "Text" $buttonText
      )
    -}}
  {{- end -}}
{{- end -}}
{{- if gt (len $emailButtons) 0 -}}
  <div class="o-booking__links">
    {{- range $emailButtons -}}
      {{- partial "button" . -}}
    {{- end -}}
  </div>
{{- end -}}
