{{- $iconMapping := dict "website" "computer" "phone" "call" "onsite" "person" "email" "mail" "machine" "confirmation_number" -}}
<summary class="o-expander__summary o-expander__summary--booking">
  <div class="o-booking__header">
    <div class="o-booking__header-content">
      <div class="o-booking__title-wrapper">
        <div class="o-booking__title">
          {{- partial "icon" (index $iconMapping .page.Params.type) -}}
          <span class="o-booking__title-text">{{- .page.Title -}}</span>
        </div>
        {{- if .subtitle }}
          <div class="o-booking__subtitle">
            {{- .subtitle -}}
          </div>
        {{- end }}
      </div>
      <div class="o-booking__meta">
        {{- $metaFields := slice
          (dict "key" "reservations" "value" .reservations "label" "booking.reservation")
          (dict "key" "fip_50" "value" .fip_50 "label" "booking.fip-50")
          (dict "key" "fip_global_fare" "value" .fip_global_fare "label" "booking.fip-global-fare")
        -}}
        {{- range $metaFields -}}
          {{- if ne .value "nil" -}}
            {{- if .value -}}
              <div
                class="o-booking__meta-item o-booking__meta-item--success"
                aria-label="{{ T .label }} {{ T "booking.bookable" }}"
              >
                {{- partial "icon" "check_circle" -}}
                <span aria-hidden="true">{{- T .label -}}</span>
              </div>
            {{- else -}}
              <div
                class="o-booking__meta-item o-booking__meta-item--error"
                aria-label="{{ T .label }} {{ T "booking.not-bookable" }}"
              >
                {{- partial "icon" "cancel" -}}
                <span aria-hidden="true">{{- T .label -}}</span>
              </div>
            {{- end -}}
          {{- end -}}
        {{- end -}}
      </div>
      <div class="o-booking__classes">
        {{- if and (ne .reservations "nil") .classes -}}
          <span class="o-booking__classes-title"
            >{{ T "booking.reservation-costs" }}</span
          >
          {{- range $k, $v := .classes -}}
            <div>
              <strong>{{- T (print "booking.classes." $k) -}}:</strong>
              {{ $v -}}
            </div>
          {{- end -}}
        {{- end -}}
        {{- if ne .fee "nil" -}}
          <span class="o-booking__classes-title">{{ T "booking.fee" }}</span>
          <div>{{ .fee }}</div>
        {{- end -}}
      </div>
    </div>
  </div>
  {{- partial "icon" "keyboard_arrow_down" -}}
</summary>
<hr aria-hidden="true" />
<div class="o-expander__content">
  {{- if .info -}}
    <div class="o-booking__info">
      {{- .info | .original_page.RenderString -}}
    </div>
  {{- end -}}
  {{- $contentClasses := slice "o-single__content" "o-booking__section" -}}
  {{- if or (eq .fip_50 false) (eq .fip_50 "nil") }}
    {{- $contentClasses = $contentClasses | append "o-booking__section-fip_50--hidden" -}}
  {{- end -}}
  {{- if or (eq .fip_global_fare false) (eq .fip_global_fare "nil") }}
    {{- $contentClasses = $contentClasses | append "o-booking__section-fip_global_fare--hidden" -}}
  {{- end -}}
  {{- if or (eq .reservations false) (eq .reservations "nil") }}
    {{- $contentClasses = $contentClasses | append "o-booking__section-reservations--hidden" -}}
  {{- end -}}
  <div class="{{ delimit $contentClasses " " }}">
    {{- $content := partial "increase-headings" (dict "content" .page.Content "offset" 2) -}}
    {{- $content := partial "prefix-footnotes" (dict "content" $content "prefix" .page.File.ContentBaseName) -}}
    {{- $content := partial "prefix-heading-ids" (dict "content" $content "prefix" .page.File.ContentBaseName) -}}
    {{- $content | safeHTML -}}
  </div>

  {{ partial "booking-links" .page }}
</div>
