{{- $iconMapping := dict "website" "computer" "phone" "call" "onsite" "person" "email" "mail" -}}
<summary class="o-booking__summary">
    <div class="o-booking__header">
        <div class="o-booking__header-content">
            <div class="o-booking__title-wrapper">
                <div class="o-booking__title">
                    {{- partial "icon" (index $iconMapping .page.Params.type) -}}
                    <span class="o-booking__title-text">{{- .page.Title -}}</span>
                </div>
                <div class="o-booking__subtitle">
                    {{- .subtitle -}}
                </div>
            </div>
            <div class="o-booking__meta">
                {{- if ne .reservations "nil" -}}<div>{{- T "booking.reservation" }} {{ if .reservations -}}✅{{- else -}}⛔{{- end -}}</div>{{- end -}}
                {{- if ne .fip_50 "nil" -}}<div>{{- T "booking.fip-50" }} {{ if .fip_50 -}}✅{{- else -}}⛔{{- end -}}</div>{{- end -}}
                {{- if ne .fip_global_fare "nil" -}}<div>{{- T "booking.fip-global-fare" }} {{ if .fip_global_fare -}}✅{{- else -}}⛔{{- end -}}</div>{{- end -}}
            </div>
            <div class="o-booking__classes">
                {{- range $k, $v := .page.Params.classes -}}
                <div><strong>{{- T (print "booking.classes." $k) -}}:</strong> {{ $v -}}</div>
                {{- end -}}
            </div>
        </div>
        <div class="o-booking__header-actions">
            {{- partial "icon" "arrow_drop_down" -}}
        </div>
    </div>
</summary>
<hr class="o-divider">
<div>
    {{- .info -}}
</div>
<a href="{{- .link -}}" target="_blank" rel="noopener">
    {{- T "booking.visit-website" -}}
</a>
{{- $contentClasses := slice -}}
{{- if eq .fip_50 false }}
  {{- $contentClasses = $contentClasses | append "o-booking__section-fip_50--hidden" -}}
{{- end -}}
{{- if eq .fip_global_fare false }}
  {{- $contentClasses = $contentClasses | append "o-booking__section-fip_global_fare--hidden" -}}
{{- end -}}
{{- if eq .reservations false }}
  {{- $contentClasses = $contentClasses | append "o-booking__section-reservations--hidden" -}}
{{- end -}}
<div class="{{ delimit $contentClasses " " }}">
    {{- .page.Content -}}
</div>

{{- partial "link"
    (dict
        "Destination" .page.RelPermalink
        "Text" (T "booking.open-in-new")
    )
-}}
