{{- if .Destination -}}
  {{- $isExternal := and (strings.HasPrefix .Destination "http") (not (strings.HasPrefix .Destination site.BaseURL)) -}}
  {{- $isMailto := strings.HasPrefix .Destination "mailto:" -}}
  <a
    href="{{ .Destination }}"
    {{- if $isExternal }}target="_blank" rel="noopener noreferrer"{{- end }}
    class="a-button a-button__external o-link__external"
  >
    {{- if $isMailto }}
      {{- partial "icon" "mail" -}}
    {{- end -}}{{- .Text -}}{{- if $isExternal }}
      {{- partial "icon" "arrow_outward" -}}
    {{- end -}}
  </a>
{{- else -}}
  <button
    class="a-button a-button__internal"
    {{- with .Title }}title="{{ . }}"{{- end -}}
  >
    {{- .Text -}}
  </button>
{{- end -}}
