<aside id="aside" class="o-aside">
  <button
    class="o-aside__header"
    aria-label="{{ T "contentNavigation.button" }}"
    aria-controls="o-aside__content"
    aria-expanded="false"
  >
    <span class="o-aside__drag"></span>
    <span class="o-aside__logo">
      {{ if eq .Page.Type "country" }}
        {{ partial "flag" (dict "country" .File.ContentBaseName "pagefind" true) }}
      {{ else if eq .Page.Type "operator" }}
        {{ partial "operator-logo" (dict "operator" .File.ContentBaseName "pagefind" true) }}
      {{ end }}
      <div>{{ .Page.Title }}</div>
    </span>
  </button>
  <div
    class="o-aside__content"
    id="o-aside__content"
    aria-label="{{ T "contentNavigation.title" }}"
  >
    <div class="o-single__container">
      {{ if eq .Page.Type "operator" }}
        <ul aria-label="{{ T "contentNavigation.relatedCountries" }}">
          {{ $related := .Site.RegularPages.RelatedIndices . "country" }}
          {{ with $related }}
            {{ range . }}
              {{ if eq .Page.Type "country" }}
                <li>
                  <a
                    href="{{ .RelPermalink }}"
                    aria-label="{{ print (T "navigate-to-country") " " .LinkTitle }}"
                  >
                    {{ partial "icon" "arrow_back" }}
                    <span class="o-aside__backlink-text"
                      >{{ partial "flag" (dict "country" .File.ContentBaseName) }}
                      {{ .LinkTitle }}</span
                    >
                  </a>
                </li>
              {{ end }}
            {{ end }}
          {{ end }}
        </ul>
      {{ end }}


      <h3 id="toc">{{ .Title }}</h3>
      {{ partial "toc" (dict "context" . "startLevel" 2 "endLevel" 3 ) }}

      {{ if eq .Page.Type "country" }}
        {{ partial "related" (dict "index" "country" "pageType" "operator" "title" (T "operators.listTitle") "page" . "identifier" "operators") }}
        {{ partial "related" (dict "index" "country" "pageType" "news" "title" (T "related.news") "page" . "identifier" "news") }}
      {{ end }}
      {{ if eq .Page.Type "operator" }}
        {{ partial "related" (dict "index" "country" "pageType" "operator" "title" (T "related.operators-nearby") "page" . "identifier" "operators") }}
        {{ partial "related" (dict "index" "operator" "pageType" "news" "title" (T "related.news") "page" . "identifier" "news") }}
      {{ end }}
      <hr aria-hidden="true" />
      <ul>
        <li>
          {{ partial "link"
            (dict
            "Destination" (print .Site.Params.githubDevUrl "blob/main/content" .Path "/index." .Language ".md")
            "Text" ((print (partial "icon" "edit_square" ) (T "editPage")) | safeHTML)
            )
          }}
        </li>
        <li>
          {{ if eq .Page.Type "operator" }}
            {{ $operator := replace .Path (printf "/%s/" .Page.Type) "" }}
            {{ partial "link"
              (dict
              "Destination" (print .Site.Params.gitHubUrl "/issues/new?title=Issue+with+operator+" .LinkTitle "&labels=content,operator::" $operator)
              "Text" ((print (partial "icon" "bug_report" ) (T "reportError")) | safeHTML)
              )
            }}
          {{ end }}
          {{ if eq .Page.Type "country" }}
            {{ $country := replace .Path (printf "/%s/" .Page.Type) "" }}
            {{ partial "link"
              (dict
              "Destination" (print .Site.Params.gitHubUrl "/issues/new?title=Issue+with+country+" .LinkTitle "&labels=content,country::" $country)
              "Text" ((print (partial "icon" "bug_report" ) (T "reportError")) | safeHTML)
              )
            }}
          {{ end }}
        </li>
      </ul>
    </div>
  </div>
</aside>
