{{ $iconMapping := dict "border" "share_location" "traincategory" "train" "info" "info" "faq" "help" }}

<details name="{{ .name }}" class="o-expander">
  <summary class="o-expander__summary">
    <div class="o-expander__summary-title">
      {{- partial "icon" (index $iconMapping .type) -}}
      <span class="o-expander__summary-text">{{ .title }}</span>
    </div>
    {{ partial "icon" "keyboard_arrow_down" }}
  </summary>

  <hr aria-hidden="true" />

  <div class="o-expander__content">
    {{ .content }}
  </div>
</details>
