{{ $iconMapping := dict "border" "share_location" "info" "info" "faq" "help" }}


<details name="{{ .Name }}" class="o-expander">
  <summary class="o-expander__summary">
    <div class="o-expander__summary-title">
      {{- partial "icon" (index $iconMapping .Variant) -}}
      <span class="o-expander__summary-text">{{ .Title }}</span>
    </div>
    {{ partial "icon" "keyboard_arrow_down" }}
  </summary>

  <hr aria-hidden="true" />

  <div class="o-expander__content">
    {{ .Content }}
  </div>
</details>
