<div class="o-footer container">
  <div>{{ T "footer-love"}}</div>
  <div class="col-12">
    {{ $contactPage := site.GetPage "contact" }}
    {{ if $contactPage }}
        <a class="o-footer__link" href="{{ $contactPage.RelPermalink }}">{{ $contactPage.Title }}</a>
    {{ end }}
    {{ $imprintPage := site.GetPage "imprint" }}
    {{ if $imprintPage }}
        <a class="o-footer__link" href="{{ $imprintPage.RelPermalink }}">{{ $imprintPage.Title }}</a>
    {{ end }}
    {{ $privacyPage := site.GetPage "privacy" }}
    {{ if $privacyPage }}
        <a class="o-footer__link" href="{{ $privacyPage.RelPermalink }}">{{ $privacyPage.Title }}</a>
    {{ end }}
  </div>
  <div>{{ T "information-disclaimer-short"}}</div>
</div>
