<div class="o-footer__line">
  <div aria-label='{{ T "footer-love.aria-label"}}'>
    {{ T "footer-love.text"}}
  </div>
  <div class="o-footer__links">
    {{ $contactPage := site.GetPage "contact" }}
    {{ if $contactPage }}
        <a class="o-footer__link" href="{{ $contactPage.RelPermalink }}">{{ $contactPage.Title }}</a>
    {{ end }}
    {{ $imprintPage := site.GetPage "imprint" }}
    {{ if $imprintPage }}
        <a class="o-footer__link" href="{{ $imprintPage.RelPermalink }}">{{ $imprintPage.Title }}</a>
    {{ end }}
    {{ $privacyPage := site.GetPage "privacy" }}
    {{ if $privacyPage }}
        <a class="o-footer__link" href="{{ $privacyPage.RelPermalink }}">{{ $privacyPage.Title }}</a>
    {{ end }}
  </div>
</div>
<div class="o-footer__line">
  <div>{{ T "information-disclaimer-short"}}</div>
    <div class="o-language-switcher" >
      <button class="o-language-switcher__button" aria-expanded="false" title="{{ T "language-switcher.aria-label" }}" aria-label='{{ T "language-switcher.aria-label" }}'>
        <span class="o-language-switcher__current">{{ $.Site.Language.LanguageName }}</span>
        <span class="o-language-switcher__icon">
          {{ partial "icon" "keyboard_arrow_down" }}
        </span>
      </button>
      <ul class="o-language-switcher__dropdown" aria-hidden="true">
        {{ range .AllTranslations }}
          <li class="o-language-switcher__item">
            <a href="{{ .Permalink }}" class="o-language-switcher__link{{ if eq $.Site.Language .Language }} o-language-switcher__link--active{{ end }}">
              {{ .Language.LanguageName }}
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
</div>
