<div class="o-footer__line">
  <div
    aria-label="{{ T "footer-love.aria-label" }}"
    {{ if and (ne site.Language.LanguageCode "fr") (ne site.Language.LanguageCode "en") }}
      lang="en"
    {{ end }}
  >
    {{ T "footer-love.text" }}
  </div>
  <div class="o-footer__links">
    {{ $contactPage := site.GetPage "contact" }}
    {{- partial "link"
      (dict
      "Destination" $contactPage.RelPermalink
      "Text" $contactPage.Title
      )
    -}}
    {{ $imprintPage := site.GetPage "imprint" }}
    {{- partial "link"
      (dict
      "Destination" $imprintPage.RelPermalink
      "Text" $imprintPage.Title
      )
    -}}
    {{ $privacyPage := site.GetPage "privacy" }}
    {{- partial "link"
      (dict
      "Destination" $privacyPage.RelPermalink
      "Text" $privacyPage.Title
      )
    -}}
    {{- partial "link"
      (dict
      "Destination" "https://www.paypal.com/pool/9jVNH0tMMT"
      "Text" (T "donation")
      )
    -}}
  </div>
</div>
<div class="o-footer__line">
  <div>{{ T "information-disclaimer-short" }}</div>
  <div id="language-switcher" class="o-dropdown">
    <button
      id="language-switcher-button"
      class="o-dropdown__button"
      aria-expanded="false"
      aria-haspopup="listbox"
      aria-controls="language-switcher-dropdown"
      title="{{ T "language-switcher.aria-label" }}"
      aria-label="{{ T "language-switcher.aria-label" }}"
    >
      {{ partial "icon" "translate" }}
      <div>{{ $.Site.Language.LanguageName }}</div>
      <div class="o-dropdown__icon">
        {{ partial "icon" "keyboard_arrow_down" }}
      </div>
    </button>
    <menu
      id="language-switcher-dropdown"
      class="o-dropdown__menu o-dropdown__menu--above o-dropdown__menu--right"
      role="listbox"
      aria-hidden="true"
      aria-label="{{ T "language-switcher.dropdown-label" }}"
    >
      {{ range .AllTranslations }}
        <li
          class="o-dropdown__item"
          role="option"
          {{ if eq $.Site.Language .Language }}aria-selected="true"{{ end }}
        >
          <a
            href="{{ .Permalink }}"
            class="o-dropdown__link{{ if eq $.Site.Language .Language }}
              o-dropdown__link--active
            {{ end }}"
            {{ if eq $.Site.Language .Language }}aria-current="page"{{ end }}
          >
            {{ .Language.LanguageName }}
          </a>
        </li>
      {{ end }}
    </menu>
  </div>
</div>
