{{ $logo := resources.Get "images/logo.svg" }}
<div class="o-container o-header__wrapper">
  <a id="skip-link" class="o-header__skip-link" href="#content"
    >{{ T "skipToContent" }}</a
  >
  <a
    href="{{ .Site.BaseURL | relLangURL }}"
    aria-label="{{ T "home-page-text" }}"
    class="o-header__logo"
  >
    {{ partial "header-logo" }}
  </a>
  <div class="o-header__curtain"></div>
  <div class="o-header__nav o-container">
    <div class="o-header__item--mobile">
      {{ partial "theme-toggle-button" }}
    </div>
    <div class="o-header__item--mobile">
      {{ partial "search-button" }}
    </div>
    <button
      class="o-nav__menu-button"
      title="{{ T "menu.open.title" }}"
      aria-expanded="false"
      aria-haspopup="true"
    >
      <span>{{ T "menu.open.label" }}</span>
      {{ partial "icon" "menu" }}
    </button>
    <nav>
      <button class="o-nav__close-button" title="{{ T "menu.close.title" }}">
        <span>{{ T "menu.close.label" }}</span>
        {{ partial "icon" "close" }}
      </button>
      <menu>
        <li class="o-header__item">
          <menu>
            {{ $currentPage := . }}
            <li class="o-header__item o-dropdown">
              <hr aria-hidden="true" />
              <button
                id="navbar-country-selection-button"
                class="o-dropdown__button"
                aria-expanded="false"
                aria-haspopup="listbox"
                aria-controls="navbar-country-selection-dropdown"
                title="{{ T "menu.country-dropdown.title" }}"
                aria-label="{{ T "menu.country-dropdown.aria-label" }}"
              >
                <span>{{ T "menu.country-dropdown.label" }}</span>
                <div class="o-dropdown__icon">
                  {{ partial "icon" "keyboard_arrow_down" }}
                </div>
              </button>
              <menu
                id="navbar-country-selection-dropdown"
                class="o-header__item-countries o-dropdown__menu o-dropdown__menu--below"
                role="listbox"
                aria-hidden="true"
                aria-label="{{ T "menu.country-dropdown.dropdown-label" }}"
              >
                {{ range  where site.RegularPages "Section" "country" }}
                  <li
                    class="o-header__item{{ if (.Eq $currentPage) }}
                      o-header__item--current
                    {{ end }}"
                  >
                    {{- partial "link"
                      (dict
                      "Destination" .RelPermalink
                      "Text" (print (partial "flag" (dict "country" .File.ContentBaseName)) .Title | safeHTML)
                      )
                    -}}
                  </li>
                {{ end }}
              </menu>
              <hr aria-hidden="true" />
            </li>
            <li class="o-header__item o-dropdown">
              <button
                id="navbar-operator-selection-button"
                class="o-dropdown__button"
                aria-expanded="false"
                aria-haspopup="listbox"
                aria-controls="navbar-operator-selection-dropdown"
                title="{{ T "menu.operator-dropdown.title" }}"
                aria-label="{{ T "menu.operator-dropdown.aria-label" }}"
              >
                <span>{{ T "menu.operator-dropdown.label" }}</span>
                <div class="o-dropdown__icon">
                  {{ partial "icon" "keyboard_arrow_down" }}
                </div>
              </button>
              <menu
                id="navbar-operator-selection-dropdown"
                class="o-header__item-operators o-dropdown__menu o-dropdown__menu--below"
                role="listbox"
                aria-hidden="true"
                aria-label="{{ T "menu.operator-dropdown.dropdown-label" }}"
              >
                {{ range  where site.RegularPages "Section" "operator" }}
                  <li
                    class="o-header__item{{ if (.Eq $currentPage) }}
                      o-header__item--current
                    {{ end }}"
                  >
                    {{- partial "link"
                      (dict
                      "Destination" .RelPermalink
                      "Text" (print (partial "operator-logo" (dict "operator" .File.ContentBaseName)) .Title | safeHTML)
                      )
                    -}}
                  </li>
                {{ end }}
              </menu>
            </li>
            <hr aria-hidden="true" />
            <li class="o-header__item" id="li-header-news">
              {{ $news := site.GetPage "news" }}
              {{- partial "link"
                (dict
                "Destination" $news.RelPermalink
                "Text" $news.Title
                )
              -}}
            </li>
            <hr aria-hidden="true" />
            <li class="o-header__item">
              {{ $informationPage := site.GetPage "generalInformation" }}
              {{- partial "link"
                (dict
                "Destination" $informationPage.RelPermalink
                "Text" $informationPage.Title
                )
              -}}
            </li>
            <hr aria-hidden="true" />
          </menu>
        </li>
        <li class="o-header__item o-header__item--desktop">
          <menu>
            <li
              class="o-header__item o-header__item--button o-header__item--desktop"
            >
              {{ partial "theme-toggle-button" }}
            </li>
            <li
              class="o-header__item o-header__item--button o-header__item--desktop"
            >
              {{ partial "search-button" }}
            </li>
          </menu>
        </li>
      </menu>
    </nav>
  </div>
</div>
