{{ $logo := resources.Get "images/logo.svg" }}
<div class="o-container o-header__wrapper">
  <a id="skip-link" class="o-header__skip-link" href="#content">{{ T "skipToContent" }}</a>
  <a href="{{ .Site.BaseURL | relLangURL }}" aria-label="{{ T "home-page-text" }}" class="o-header__logo">
  {{ partial "header-logo" }}
  </a>
  <div class="o-header__curtain"></div>
  <div class="o-header__nav o-container">
    <div class="a-theme-toggle--mobile">
      {{ partial "theme-toggle" }}
    </div>
    <button class="o-nav__menu-button" title="Menü öffnen" aria-expanded="false" aria-haspopup="true">
      <span>{{ T "menu-open" }}</span>
      {{ partial "icon" "menu" }}
    </button>
    <nav>
      <button class="o-nav__close-button" title="Menü schließen">
        <span>{{ T "menu-close" }}</span>
        {{ partial "icon" "close" }}
      </button>
      <menu>
        <li class="o-header__item">
          <menu>
            {{ $currentPage := . }}
            <li class="o-header__item o-dropdown">
              <hr />
              <button
                id="navbar-country-selection-button"
                class="o-dropdown__button"
                aria-expanded="false"
                aria-haspopup="listbox"
                aria-controls="navbar-country-selection-dropdown"
                title="{{ T "language-switcher.aria-label" }}"
                aria-label='{{ T "countries.selection.aria-label" }}'
              >
                <span>{{ T "countries.selection.title" }}</span>
                <div class="o-dropdown__icon">
                  {{ partial "icon" "keyboard_arrow_down" }}
                </div>
              </button>
              <menu
                id="navbar-country-selection-dropdown"
                class="o-header__item-countries o-dropdown__menu o-dropdown__menu--below"
                role="listbox"
                aria-hidden="true"
                aria-label="{{ T "countries.selection.dropdown-label" }}"
              >
                {{ range  where site.RegularPages "Section" "country"}}
                <li class="o-header__item{{ if (.Eq $currentPage) }} o-header__item--current{{ end }}">
                  <a href="{{ .Permalink }}">
                    {{ partial "flag" (dict "country" .File.ContentBaseName) }}
                    <span>{{ .Title }}</span>
                  </a>
                </li>
                {{ end }}
              </menu>
              <hr />
            </li>
            <li class="o-header__item o-dropdown">
              <button
                id="navbar-operator-selection-button"
                class="o-dropdown__button"
                aria-expanded="false"
                aria-haspopup="listbox"
                aria-controls="navbar-operator-selection-dropdown"
                title="{{ T "language-switcher.aria-label" }}"
                aria-label='{{ T "operators.selection.aria-label" }}'
              >
                <span>{{ T "operators.selection.title" }}</span>
                <div class="o-dropdown__icon">
                  {{ partial "icon" "keyboard_arrow_down" }}
                </div>
              </button>
              <menu
                id="navbar-operator-selection-dropdown"
                class="o-header__item-operators o-dropdown__menu o-dropdown__menu--below"
                role="listbox"
                aria-hidden="true"
                aria-label="{{ T "operators.selection.dropdown-label" }}"
              >
                {{ range  where site.RegularPages "Section" "operator"}}
                <li class="o-header__item{{ if (.Eq $currentPage) }} o-header__item--current{{ end }}">
                  <a href="{{ .Permalink }}">
                    {{ partial "operator-logo" (dict "operator" .File.ContentBaseName) }}
                    <span>{{ .Title }}</span>
                  </a>
                </li>
                {{ end }}
              </menu>
            </li>
            <hr />
            <li class="o-header__item" id="li-header-news">
              {{ $news := site.GetPage "news" }}
              <a href="{{ $news.RelPermalink }}">{{ $news.Title }}</a>
            </li>
            <hr />
            <li class="o-header__item">
              {{ $informationPage := site.GetPage "generalInformation" }}
              <a href="{{ $informationPage.RelPermalink }}">{{ $informationPage.Title }}</a>
            </li>
            <hr />
          </menu>
        </li>
        <li class="o-header__item a-theme-toggle--desktop">
          {{ partial "theme-toggle" }}
        </li>
      </menu>
    </nav>
  </div>
</div>
