{{ $image := . }}
{{ $loading := "lazy" }}

{{ if .Permalink }}
{{ $image = . }}
{{ else if .image }}
  {{ $image = .image }}
  {{ if .eager }}
    {{ $loading = "eager" }}
  {{ end }}
{{ end }}

<picture>
  {{ $widths := slice }}

  {{ if gt $image.Width 2200 }}
    {{ $widths = $widths | append 2200 }}
  {{ end }}
  {{ if gt $image.Width 1500 }}
    {{ $widths = $widths | append 1500 }}
  {{ end }}
  {{ if gt $image.Width 1200 }}
    {{ $widths = $widths | append 1200 }}
  {{ end }}
  {{ if gt $image.Width 800 }}
    {{ $widths = $widths | append 800 }}
  {{ end }}
  {{ if gt $image.Width 500 }}
    {{ $widths = $widths | append 500 }}
  {{ end }}

  {{- range $i, $width := $widths }}
    {{- with $image.Resize (printf "%dx" $width) -}}
<!-- Important: Do not change the indentation, otherwise the image is rendered as pre in some cases -->
<source media="(min-width:{{ $width }}px)" srcset="{{ .RelPermalink | safeURL }}" title="{{ $.Title }}" loading="{{ $loading }}"/>
    {{- end }}
  {{- end }}

  {{- $tinyImage := $image -}}
  {{- if gt $image.Width 500 -}}
    {{- $tinyImage = $image.Resize "500x" -}}
  {{- end -}}
<!-- Important: Do not change the indentation, otherwise the image is rendered as pre in some cases -->
<img src="{{ $tinyImage.RelPermalink | safeURL }}" alt="{{ $.Title }}" title="{{ $.Title }}" loading="{{ $loading }}"/>
</picture>
