{{- $url := .Destination -}}
{{- if and (strings.HasPrefix $url "http") (not (strings.HasPrefix $url site.BaseURL)) -}}
  <!-- Absolute links pointing to external pages, e. g. `https://example.com` -->
  <a
    href="{{ .Destination }}"
    target="_blank"
    rel="noopener noreferrer external"
    class="o-link__external"
    {{- with .Title -}}title="{{ . }}"{{- end -}}
  >
    {{- .Text -}}{{- partial "icon" "arrow_outward" -}}
  </a>
{{- else if strings.HasPrefix $url "mailto:" -}}
  <!-- Email links, e. g. `mailto:example@example.com` -->
  <a
    href="{{ $url }}"
    class="o-link__mail"
    {{- with .Title -}}title="{{ . }}"{{- end -}}
  >
    {{- partial "icon" "mail" -}}{{- .Text -}}
  </a>
{{- else if strings.HasPrefix $url "tel:" -}}
  <!-- Telephone links, e. g. `tel:+1234567890` -->
  <a
    href="{{ $url | safeURL }}"
    class="o-link__tel"
    {{- with .Title -}}title="{{ . }}"{{- end -}}
  >
    {{- partial "icon" "call" -}}{{- .Text -}}
  </a>
{{- else if .Page.Ref (dict "path" $url) -}}
  <!-- Internal links, referenced by path (e. g. `/news/1`) -->
  <a
    href="{{ .Page.Ref (dict "path" $url) }}"
    {{- with .Title -}}title="{{ . }}"{{- end -}}
  >
    {{- .Text -}}
  </a>
{{- else if or (strings.HasPrefix $url "/") (strings.HasPrefix $url site.BaseURL) -}}
  <!-- Internal links, referenced by URL (e. g. `/en/news/1`) -->
  <a
    href="{{ $url | relURL }}"
    {{- with .Title -}}title="{{ . }}"{{- end -}}
  >
    {{- .Text -}}
  </a>
{{ else }}
  {{- warnf "Link '%s' could not be resolved." .Destination -}}
{{- end -}}
