{{ $menuicon := resources.Get "images/menu.svg" }}
{{ $expandicon := resources.Get "images/expand-more.svg" }}
{{ $closeicon := resources.Get "images/close.svg" }}
{{ $logo := resources.Get "images/logo.svg" }}
<div class="container o-header">
  <a id="skip-link" class="o-header__skip-link" href="#content">zum Inhalt springen</a>
  <a href="/" aria-label="FIP-Guide Startseite" class="o-header__logo">
    <img aria-hidden="true" src="{{ $logo.RelPermalink }}" alt="">
    <h1>FIP-Guide</h1>
  </a>
  <div class="o-header__curtain"></div>
  <div class="o-header__nav container">
    <button class="o-nav__menu-button" title="Menü öffnen" aria-expanded="false" aria-haspopup="true">
      <span>{{ T "menu-open" }}</span>
      <i class="material-icons-round" aria-hidden="true">menu</i>
    </button>
    <nav>
      <button class="o-nav__close-button" title="Menü schließen">
        <span>{{ T "menu-close" }}</span>
        <i class="material-icons-round" aria-hidden="true">close</i>
      </button>
      <menu>
        <li class="o-header__item">
          <button class="o-header__expand-button" aria-haspopup="true" aria-expanded="false">
            <span>{{ T "countryselection" }}</span>
            <i class="material-icons-round" aria-hidden="true">keyboard_arrow_down</i>
          </button>
          <h2 id="menu-country-list">{{ T "country" }}</h2>
          <menu class="o-header__item-countries" aria-describedby="menu-country-list">
            {{ range  where site.RegularPages "Section" "country"}}
            <li class="o-header__item">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
          </menu>
        </li>
        <li class="o-header__item">
          <h2 id="menu-general-list">{{ T "general" }}</h2>
          <ul aria-describedby="menu-general-list">
            {{ $news := site.GetPage "news" }}
            {{ if $news }}
            <li class="o-header__item">
              <a href="{{ $news.RelPermalink }}">{{ $news.Title }}</a>
            </li>
            {{ end }}
            {{ $informationPage := site.GetPage "generalInformation" }}
            {{ if $informationPage }}
            <li class="o-header__item">
              <a href="{{ $informationPage.RelPermalink }}">{{ $informationPage.Title }}</a>
            </li>
            {{ end }}
          </ul>
        </li>
      </menu>
    </nav>
  </div>
</div>