<summary class="o-expander__summary o-expander__summary--operator-search">
  <div class="o-operator-search__header">
    <div class="o-operator-search__title">
      {{- partial "icon" "search" -}}
      <span class="o-operator-search__title-text"
        >{{ T "operator-search.title" }}</span
      >
    </div>
  </div>
  {{- partial "icon" "keyboard_arrow_down" -}}
</summary>
<hr aria-hidden="true" />
<div class="o-expander__content">
  {{ range $index, $operator := .operators }}
    {{ if gt $index 0 }}
      <hr class="o-operator-search__separator" />
    {{ end }}


    <div class="o-operator-search__item">
      <h3 class="o-operator-search__item-title">{{ $operator.title }}</h3>

      <div class="o-operator-search__item-content">
        <div class="o-operator-search__text">
          <div class="o-single__content">
            {{ $operator.content | $.original_page.RenderString | safeHTML }}
          </div>

          {{ if $operator.url }}
            <div class="o-operator-search__actions">
              <a
                href="{{ $operator.url }}"
                class="a-button"
                target="_blank"
                rel="noopener noreferrer"
              >
                {{- partial "icon" "open_in_new" -}}
                {{ T "operator-search.learn-more" }}
              </a>
            </div>
          {{ end }}
        </div>

        {{ if $operator.image_resource }}
          <div class="o-operator-search__image-wrapper">
            {{- partial "image" $operator.image_resource -}}
          </div>
        {{ end }}
      </div>
    </div>
  {{ end }}
</div>
