{{ $pageType := .pageType | default .index }}
{{ $related := "" }}

{{ if eq $pageType "booking" }}
  {{ $related = slice }}
  {{ $searchPattern := printf "booking id=\"%s\"" .page.File.ContentBaseName }}
  {{ range where .page.Site.RegularPages "Type" "operator" }}
    {{ if in .RawContent $searchPattern }}
      {{ $related = $related | append . }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ $related = where (.page.Site.RegularPages.RelatedIndices .page .index) ".Page.Type" $pageType }}
{{ end }}

{{ if gt (len $related) 0 }}
  <h3 id="o-related__title-{{ .identifier }}">{{ .title }}</h3>
  <ul
    class="o-related__list"
    aria-labelledby="o-related__title-{{ .identifier }}"
  >
    {{ range $related }}
      <li class="o-related__item">
        {{ $text := .LinkTitle }}
        {{ if eq .Page.Type "news" }}
          {{ $text = print (partial "icon" "newspaper") $text }}
        {{ else if or (eq .Page.Type "operator") (eq .Page.Type "booking") }}
          {{ $text = print (partial "operator-logo" (dict "operator" .File.ContentBaseName)) $text }}
        {{ else if eq .Page.Type "country" }}
          {{ $text = print (partial "flag" (dict "country" .File.ContentBaseName)) $text }}
        {{ end }}

        {{ partial "link" (
          dict
          "Destination" .RelPermalink
          "Text" ($text | safeHTML)
          )
        }}

        {{ if eq .Page.Type "news" }}
          <span class="o-related__date"
            >{{ .Date | time.Format ":date_long" }}</span
          >
        {{ end }}
      </li>
    {{ end }}
  </ul>
{{ end }}
