<aside id="aside" class="o-aside tableOfContents">
    <div class="o-single__container">
        {{ if eq .Page.Type "operator" }}
        <ul>
            {{ $related := .Site.RegularPages.RelatedIndices . "country" }}
            {{ with $related }}
                {{ range . }}
                    {{ if eq .Page.Type "country" }}
                    <li>
                        <a href="{{ .RelPermalink }}">
                            {{ partial "icon" "arrow_back" }}
                            <span>{{ T "toc-backlink"}}: {{ .LinkTitle }}</span>
                        </a>
                    </li>
                    {{ end }}
                {{ end }}
            {{ end }}
        </ul>
        {{ end }}

        <h3 id="toc">{{ .Title }}</h3>
        {{ partial "toc.html" (dict "context" . "startLevel" 2 "endLevel" 3 ) }}

        {{ if eq .Page.Type "country" }}
            <h3 id="related">{{ T "_operator__list_title"}}</h3>
            <ul aria-labelledby="related">
                {{ $related := .Site.RegularPages.RelatedIndices . "country" }}
                {{ with $related }}
                    {{ range . }}
                    {{ $object := replace .Path (printf "/%s/" .Page.Type) "" }}
                    <li>
                        <a id="{{ .LinkTitle }}" href="{{ .RelPermalink }}">
                            {{ partial "logo" $object }}
                            {{ .LinkTitle }}
                        </a>
                    </li>
                    {{ end }}
                {{ end }}
            </ul>
        {{ end }}
        {{ if eq .Page.Type "operator" }}
            {{ $related := .Site.RegularPages.RelatedIndices . "country" }}
            {{ with $related }}
            {{ if gt (len $related) 1 }}
            <h3 id="related">{{ T "_operator__nearby"}}</h3>
            {{ end }}
            <ul aria-labelledby="related">
                {{ range . }}
                    {{ if eq .Page.Type "operator" }}
                        {{ $object := replace .Path (printf "/%s/" .Page.Type) "" }}
                        <li>
                            <a id="{{ .LinkTitle }}" href="{{ .RelPermalink }}">
                                {{ partial "logo" $object }}
                                <span>{{ .LinkTitle }}</span>
                            </a>
                        </li>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </ul>
        {{ end }}
        <hr>
        {{ partial "link"
            (dict
                "Destination" (print .Site.Params.githubDevUrl "blob/main/content" .Path "/index." .Language ".md")
                "Text" ((print (partial "icon" "edit_square") (T "editPage")) | .Page.RenderString)
            )
        }}
        {{ if eq .Page.Type "operator" }}
            {{ $operator := replace .Path (printf "/%s/" .Page.Type) "" }}
            {{ partial "link"
                (dict
                    "Destination" (print .Site.Params.gitHubUrl "/issues/new?title=Issue+with+operator+" .LinkTitle "&labels=content,operator::" $operator)
                    "Text" ((print (partial "icon" "bug_report" ) (T "reportError")) | .Page.RenderString)
                )
            }}
        {{ end }}
        {{ if eq .Page.Type "country" }}
            {{ $country := replace .Path (printf "/%s/" .Page.Type) "" }}
            {{ partial "link"
                (dict
                    "Destination" (print .Site.Params.gitHubUrl "/issues/new?title=Issue+with+country+" .LinkTitle "&labels=content,country::" $country)
                    "Text" ((print (partial "icon" "bug_report" ) (T "reportError")) | .Page.RenderString)
                )
            }}
        {{ end }}
    </div>
</aside>
