<aside id="aside" class="o-aside tableOfContents">
    <div class="o-aside__mobile o-aside__mobile-container1 o-single__container  o-aside__mobile-container--open">
        <button>
            <div id="aside_mobile_current_headline">{{ .Title }}</div>
            {{ partial "ico" (dict "icon" "list" ) }}
        </button>
    </div>
    <div class="o-aside__mobile-container2 o-single__container">
        {{ if eq .Page.Type "operator" }}
        <ul>
            {{ $related := .Site.RegularPages.RelatedIndices . "country" }}
            {{ with $related }}
                {{ range . }}
                    {{ if eq .Page.Type "country" }}
                    <li>
                        <a href="{{ .RelPermalink }}">
                            {{ partial "ico" (dict "icon" "arrow_back") }}
                            <span>{{ T "toc-backlink"}}: {{ .LinkTitle }}</span>
                        </a>
                    </li>
                    {{ end }}
                {{ end }}
            {{ end }}
        </ul>
        {{ end }}

        <h3 id="toc">{{ .Title }}</h3>
        {{ partial "toc.html" (dict "context" . "startLevel" 2 "endLevel" 3 ) }}

        {{ if eq .Page.Type "country" }}
            <h3 id="related">{{ T "_operator__list_title"}}</h3>
            <ul aria-labelledby="related">
                {{ $related := .Site.RegularPages.RelatedIndices . "country" }}
                {{ with $related }}
                    {{ range . }}
                    {{ $object := replace .Path (printf "/%s/" .Page.Type) "" }}
                    <li>
                        <a id="{{ .LinkTitle }}" href="{{ .RelPermalink }}">
                            {{ partial "ico" (dict "icon" $object "theme" "logos" "height" "25" "width" "35") }}
                            {{ .LinkTitle }}
                        </a>
                    </li>
                    {{ end }}
                {{ end }}
            </ul>
        {{ end }}
        {{ if eq .Page.Type "operator" }}
            {{ $related := .Site.RegularPages.RelatedIndices . "country" }}
            {{ with $related }}
            {{ if gt (len $related) 1 }}
            <h3 id="related">{{ T "_operator__nearby"}}</h3>
            {{ end }}
            <ul aria-labelledby="related">
                {{ range . }}
                    {{ if eq .Page.Type "operator" }}
                        {{ $object := replace .Path (printf "/%s/" .Page.Type) "" }}
                        <li>
                            <a id="{{ .LinkTitle }}" href="{{ .RelPermalink }}">
                                {{ partial "ico" (dict "icon" $object "theme" "logos" "height" "25" "width" "35") }}
                                {{ .LinkTitle }}
                            </a>
                        </li>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </ul>
        {{ end }}
        <hr>
        <a href="{{ .Site.Params.githubDevUrl }}blob/main/content{{ .Path }}/index.{{ .Language }}.md" target="_blank" rel="noopener noreferrer">
            {{ partial "ico" (dict "icon" "edit_square" ) }}
            {{ T "editPage"}}
        </a>
    </div>
</aside>