<!-- Article -->
{{ $dateMachine := "hallo" }}
{{ if page.Date }}
  {{ $dateMachine := page.Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ else if page.GitInfo }}
  {{ $dateMachine := page.GitInfo.AuthorDate | time.Format "2006-01-02T15:04:05-07:00" }}
{{ end }}

<!--
TODO: $dateMachine doesnt work properly.
TODO: image is not encoded properly.
TODO: for now, partial is only in the single.html - it should be included in baseof.html
-->

<script type="application/ld+json">[{
  "@context": "https://schema.org",
    "@type": "WebSite",
    "url": "{{ page.Site.BaseURL }}",
    "name": "{{ site.Title }}",
    "publisher": {
      "@type": "Organization",
      "name": "FIP Guide"
    },
    "inLanguage": "{{ site.Language.LanguageCode }}"
  }, {{ if not .IsHome }}
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
      {{- $i := 1 }}
      {{- range page.Ancestors.Reverse }}
        {
          "@type": "ListItem",
          "position": {{ $i }},
          "name": "{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }}{{ end }}",
          "url": {{ .Permalink }},
          "item": {{ .Permalink }}
        },
        {{- $i = add $i 1 -}}
      {{ end }}
      {
        "@type": "ListItem",
        "position": {{ $i }},
        "name": "{{ page.Title | safeJS }}",
        "url": {{ page.Permalink }},
        "item": {{ page.Permalink }}
      }
    ]
  }, {{ end }}
  {
    "@type": "{{ .type }}",
    "headline": "{{ page.Title }}",
    "image": "{{ .image.Permalink }}",
    "dateModified": "{{ $dateMachine }}",
    "author": [
      {
        "@type":"Organization",
        "name": "FIP Guide",
        "url": "https://www.fipguide.org/"
      }
    ]
  }]
</script>