{{- $page := .page  }}
{{- $listview := .listview | default "false" }}

{{ $dateMachine := $page.Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := $page.Date | time.Format ":date_long" }}
<div class="m-teaser{{ if $listview }} m-teaser--listview{{ else }} col-lg-4 col-md-6{{ end }} col-12">
  <div class="m-teaser__wrapper">
    {{ $image := (partial "helper/contentImage" $page ) }}
    {{ if $image }}
    <div class="m-teaser__image">
      {{ partialCached "image.html" $image $image }}
      {{ end }}
    </div>
    <div class="m-teaser__content">
      <time class="m-teaser__dateline" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      <a href="{{ $page.RelPermalink }}">
        {{ if $listview }}
          <h2 class="m-teaser__headline">{{ $page.Title }}</h2>
        {{ else }}
          <h3 class="m-teaser__headline">{{ $page.Title }}</h3>
        {{ end }}
      </a>

      <div class="m-teaser__text">
        {{ $page.Summary | plainify | truncate 100 }}
      </div>
    </div>
  </div>
</div>
