{{ $dateMachine := partial "helper/dateMachine" . }}
{{ $dateHuman := partial "helper/dateHuman" . }}

{{ if eq .Type "news" }}
  <div class="updateDate" data-pagefind-ignore="all">
    <span>{{ T "updateDate"}}:</span>
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  </div>

{{ else if .GitInfo }}
  {{ $href := print .Site.Params.gitHubUrl "/commits/" .GitInfo.Hash "/content" .Path "/index." .Language ".md" }}
  <a
    href="{{ $href }}"
    target="_blank"
    rel="noopener noreferrer"
    class="updateDate"
    aria-label="Open the commit history of the page"
    data-pagefind-ignore="all"
  >
    {{ T "updateDate"}}:
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    {{- partial "icon" "arrow_outward" -}}
  </a>
{{ end }}
