{{ $dateMachine := partial "helper/dateMachine" . }}
{{ $dateHuman := partial "helper/dateHuman" . }}

{{ if eq .Type "news" }}
  <div class="o-last-updated" data-pagefind-ignore="all">
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  </div>
{{ else if .GitInfo }}
  {{ $href := print .Site.Params.gitHubUrl "/commits/" .GitInfo.Hash "/content" .Path "/index." .Language ".md" }}
  <a
    href="{{ $href }}"
    target="_blank"
    rel="noopener noreferrer"
    class="o-last-updated"
    aria-label="{{ T "updateDate.aria-label" }}"
    data-pagefind-ignore="all"
  >
    {{ T "updateDate.label" }}:
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    {{- partial "icon" "arrow_outward" -}}
  </a>
{{ end }}
