{{ define "main" }}
<article class="container o-single">
  <div class="o-single__header">
      <h2 data-pagefind-meta="title">404 - Page Not Found</h2>
  </div>
  <div class="o-single__content" data-pagefind-body="">
    <p>Oops! The page you’re looking for is unavailable or has been moved.</p>
    <p>Here's what you can do next:</p>
    <ul>
      <li><strong>Double-check the URL:</strong> Make sure there are no typos in the address.</li>
      <li><strong>Go to the homepage:</strong> <a href="/">Return to the home page</a> and navigate from there.</li>
      <li><strong>Use the navigation:</strong> Try browsing via the menu or using the search function.</li>
      <li><strong>Contact us:</strong> If you need assistance, feel free to reach out. <a href="mailto:nextstop@fipguide.org">nextstop@fipguide.org</a></li>
    </ul>
    <p>We're happy to help!</p>
  </div>
</article>
{{ end }}
