<!doctype html>
<html>
  <head>
    <title>{{ .Permalink }}</title>
    <meta name="robots" content="noindex" />
    <meta charset="utf-8" />
    <noscript>
      <meta http-equiv="refresh" content="0; url={{ .Permalink }}" />
    </noscript>
    <script>
      (() => {
        const supportedLanguages = [{{ range site.Languages }}"{{ .Lang }}",{{ end }}];
        const defaultLanguage = "en";

        const getTargetLanguage = () => {
          const nav = window.navigator;
          if (!Array.isArray(nav.languages)) {
            return defaultLanguage;
          }

          for (const language of nav.languages) {
            for (const lang of supportedLanguages) {
              if (language.toLowerCase().includes(lang)) {
                return lang;
              }
            }
          }
          return defaultLanguage;
        };

        let targetLocation = '{{ .Permalink }}'
        if (window.location.pathname === '/') {
          // On root, redirect to the target language root
          targetLocation = `/${getTargetLanguage()}/`
        } else if ('{{ relURL .Permalink }}' === '/en/404/'){
          // On 404, redirect to the 404 page of the target language
          targetLocation = `/${getTargetLanguage()}/404/`
        }
        window.location.replace(targetLocation);
      })();
    </script>
  </head>
  <body>
    <h1>Rerouting</h1>
    <p>
      You should be rerouted in a second, if not,
      <a href="{{ .Permalink }}">click here</a>.
    </p>
  </body>
</html>
