<!doctype html>
<html>
  <head>
    <title>{{ .Permalink }}</title>
    <meta name="robots" content="noindex" />
    <meta charset="utf-8" />
    <noscript>
      <meta http-equiv="refresh" content="0; url={{ .Permalink }}" />
    </noscript>
    {{ $supportedLanguages := slice }}
    {{ range site.Languages }}
      {{ $supportedLanguages = $supportedLanguages | append .Lang }}
    {{ end }}
    {{ $built := resources.Get "js/languageSuggestion.js" | js.Build (dict "format" "esm" "minify" true "params" (dict "supportedLanguages" $supportedLanguages)) }}
    <script type="module">
      import languageSuggestion from "{{ $built.RelPermalink }}";

      (() => {
        let targetLocation = '{{ .Permalink }}'
        if (window.location.pathname === '/') {
          // On root, redirect to the target language root
          targetLocation = `/${languageSuggestion.getPreferredLanguage()}/`
        } else if ('{{ relURL .Permalink }}' === '/en/404/'){
          // On 404, redirect to the 404 page of the target language
          targetLocation = `/${languageSuggestion.getPreferredLanguage()}/404/`
        }
        window.location.replace(targetLocation);
      })();
    </script>
  </head>
  <body>
    <h1>Rerouting</h1>
    <p>
      You should be rerouted in a second, if not,
      <a href="{{ .Permalink }}">click here</a>.
    </p>
  </body>
</html>
