<nav class="o-nav">
  <ul class="o-nav__items">
    <li>
      <ul>
        <li class="o-nav__item">
          <h1>
            <a href="/" aria-label="FIP-Guide Startseite">{{ site.Title }}</a>
          </h1>
        </li>
        <li class="o-nav__item has-submenu">
          <button href="…" aria-expanded="false">
            {{ T "countryselection" }}
          </button>
          <ul>
            <li><a href="…">Belgien</a></li>
            <li><a href="…">Slovakei</a></li>
            <li><a href="…">Großbrittanien</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <ul>
        <li class="o-nav__item">
          <a href="/news">News</a>
        </li>
        <li class="o-nav__item">
          <a href="/infos">Übergreifende Infos</a>
        </li>
      </ul>
    </li>
  </ul>
  <button class="o-nav__item o-nav__menu-button" title="Menü öffnen">
    Menü
    <img
      aria-hidden="true"
      alt=""
      src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg=="
    >
  </button>
</nav>