<a href="{{ .RelPermalink }}" class="m-teaser col-12 col-lg-4">
  {{ $image := .Page.Resources.GetMatch "image.webp" }}
  <img class="m-teaser__image" src="{{ $image.RelPermalink }}" alt="" loading="lazy">
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time class="m-teaser__dateline" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  <h3 class="m-teaser__headline">{{ .Title }}</h3>
  <div class="m-teaser__text">
    {{ .Summary | truncate 100 }}
  </div>
</a>
