{{- $lang := .Language.Lang -}}
{{- $excluded := slice "eurostar" "euskotren" -}}
{{- $issuers := slice -}}
{{- range where .Site.RegularPages "Type" "operator" -}}
  {{- if .Resources.Get "validity.yaml" -}}
    {{- $issuers = $issuers | append . -}}
  {{- end -}}
{{- end -}}
<div class="o-fip-validity__controls">
  <span>
    {{ T "fipValidity.selectIssuer" }}
  </span>
  {{ partial "fip-validity/issuer-dropdown" (dict
    "id" "fip-validity-issuer"
    "issuers" $issuers
    )
  }}
</div>

<div class="o-fip-validity__wrapper">
  <h2 id="general">{{ T "general" }}</h2>
  <p data-fip-select-first>{{ T "fipValidity.selectIssuerFirst" }}</p>

  {{- range $entryKey := slice "card-validity" "taxation" "national-discounts" -}}
    {{- range $issuers -}}
      {{- $issuerSlug := .File.ContentBaseName -}}
      {{- $validity := .Resources.Get "validity.yaml" | transform.Unmarshal -}}
      {{- $entry := index $validity $entryKey -}}
      {{- $text := T (printf "fipValidity.%sMissingInfo" $entryKey) -}}
      {{- if $entry -}}
        {{- $text = index $entry $lang -}}
      {{- end -}}


      <div data-fip-issuer="{{ $issuerSlug }}" hidden>
        <h3 id="{{ $entryKey }}">
          {{ T (printf "fipValidity.%sHeading" $entryKey) }}
        </h3>
        {{ $text | .Page.RenderString }}
      </div>
    {{- end -}}
  {{- end -}}
</div>

{{- range $type := slice "fip-coupon" "fip-reduced-ticket" -}}
  <div class="o-fip-validity__wrapper">
    {{- range $issuers -}}
      {{- $issuerSlug := .File.ContentBaseName -}}
      {{- $validity := .Resources.Get "validity.yaml" | transform.Unmarshal -}}
      {{- $general := index (index $validity "general") $type -}}
      {{- $generalText := "" -}}
      {{- if $general -}}
        {{- $generalText = index $general $lang -}}
      {{- end -}}

      {{- $entries := dict -}}
      {{- range where $.Site.RegularPages "Type" "operator" -}}
        {{- $targetSlug := .File.ContentBaseName -}}
        {{- if and (ne $targetSlug $issuerSlug) (not (in $excluded $targetSlug)) -}}
          {{- $entries = merge $entries (dict $targetSlug (index (index $validity $targetSlug) $type)) -}}
        {{- end -}}
      {{- end -}}


      <div
        data-fip-issuer="{{ $issuerSlug }}"
        data-fip-type="{{ $type }}"
        hidden
      >
        <h2 id="{{ $type }}">{{ T (printf "fipValidity.%s" $type) }}</h2>

        {{- if $generalText -}}
          <div class="o-fip-validity__general">
            {{ $generalText | $.Page.RenderString }}
          </div>
        {{- end -}}
        {{ partial "fip-validity/table" (dict "entries" $entries "lang" $lang "page" $) }}
      </div>
    {{- end -}}
  </div>
{{- end -}}
