<p>{{ T (printf "fipValidity.%s-description" .type) }}</p>
{{- $currentSlug := .page.File.ContentBaseName -}}
{{- $type := .type -}}
{{- $entries := dict -}}
{{- range where .page.Site.RegularPages "Type" "operator" -}}
  {{- if eq .File.ContentBaseName $currentSlug -}}
    {{- continue -}}
  {{- end -}}
  {{- $entry := false -}}
  {{- with .Resources.Get "validity.yaml" -}}
    {{- $validity := . | transform.Unmarshal -}}
    {{- $entry = index (index $validity $currentSlug) $type -}}
  {{- end -}}
  {{- $entries = merge $entries (dict .File.ContentBaseName $entry) -}}
{{- end -}}
{{ partial "fip-validity/table" (dict "entries" $entries "lang" .page.Language.Lang "page" .page "firstColHeader" "fipValidity.issuer") }}
