{{- $page := site.GetPage (print "booking/" (.Get "id")) -}}
{{- $params := dict
    "page" $page
    "subtitle" (.Get "subtitle")
    "fip_50" ((.Get "fip_50" ) | default $page.Params.fip_50 | default "nil")
    "fip_global_fare" ((.Get "fip_global_fare" ) | default $page.Params.fip_global_fare | default "nil")
    "reservations" ((.Get "reservations" ) | default $page.Params.reservations | default "nil")
    "link" ((.Get "link" ) | default $page.Params.link | default "nil")
-}}

<details class="details-screen">
{{- partial "booking" $params -}}
</details>

<details open class="details-print">
{{- partial "booking" $params -}}
</details>
