{{ $page := site.GetPage (print "booking/" (.Get 0)) }}
{{ with $page }}
{{ $iconMapping := dict "website" "computer" "phone" "call" "onsite" "person" }}
<details class="o-booking">
<summary>
<div class="o-booking__header">
<div class="o-booking__title-wrapper">
<div class="o-booking__title">
    {{- partial "icon" (index $iconMapping .Params.type) -}}<span>{{ .Title }}</span>
</div>
<div class="o-booking__subtitle">
    {{ ($.Get 1 ) }}
</div>
</div>
<div class="o-booking__meta">
  {{ T "booking.reservation" }} {{ if .Params.reservations }}✅{{ else }}⛔{{ end }} <br>
  {{ T "booking.fip-50" }} {{ if .Params.fip_50 }}✅{{ else }}⛔{{ end }}
</div>
<div class="o-booking__header-last-column">
<div class="o-booking__classes">
{{ range $k, $v := .Params.classes }}
<strong>{{ T (print "booking.classes." $k) }}:</strong> {{ $v }}
{{ end }}
</div>
<div class="o-booking__header-actions">
    {{ partial "icon" "arrow_drop_down" }}
</div>
</div>
</div>
</summary>
<div class="o-divider"></div>
{{ .Content }}
{{ partial "link"
    (dict
        "Destination" .RelPermalink
        "Text" (T "booking.open-in-new")
    )
}}
</details>
{{ end }}
