<p id="success">
  {{ T "contact.successMessage" }}
</p>

<form
  action="https://api.web3forms.com/submit"
  method="POST"
  class="m-form"
  aria-label="{{ T "contact.formAriaLabel" }}"
  id="form"
>
  <input
    type="hidden"
    name="access_key"
    value="29293094-c9cc-48b7-9ff6-31b42534e211"
  />
  <input type="hidden" name="from_name" value="FIP Guide" />
  <input type="hidden" name="subject" value="{{ T "contact.emailSubject" }}" />
  <input
    type="hidden"
    name="redirect"
    value="{{ ref . "contact" }}?success=true"
  />

  <label for="name"
    >{{ T "contact.nameLabel" }}
    <input type="text" id="name" name="name" autocomplete="name" required />
  </label>

  <label for="email"
    >{{ T "contact.emailLabel" }}
    <input type="email" id="email" name="email" autocomplete="email" required />
  </label>

  <label for="topic"
    >{{ T "contact.topic.label" }}
    <select id="topic" name="topic" required>
      <option value="">{{ T "contact.topic.empty" }}</option>
      <option value="general">{{ T "contact.topic.general" }}</option>
      <option value="request">{{ T "contact.topic.request" }}</option>
      <option value="feedback">{{ T "contact.topic.feedback" }}</option>
      <option value="accessibility">
        {{ T "contact.topic.accessibility" }}
      </option>
      <option value="others">{{ T "contact.topic.others" }}</option>
    </select>
  </label>

  <div data-field="general" style="display:none;">
    <p>
      {{ T "contact.topic.general-note" | .Page.RenderString }}
    </p>
  </div>

  <label
    for="accessibility-webpage"
    data-field="accessibility"
    style="display:none;"
    >{{ T "contact.topic.accessibility-webpage" }}
    <input
      type="text"
      id="accessibility-webpage"
      name="accessibility-webpage"
    />
  </label>

  <label
    for="accessibility-note"
    data-field="accessibility"
    style="display:none;"
    >{{ T "contact.topic.accessibility-note" }}
    <textarea
      id="accessibility-note"
      name="accessibility-note"
      rows="4"
      cols="50"
    ></textarea>
  </label>

  <label
    for="message"
    data-field="general,request,feedback,others"
    style="display:none;"
    >{{ T "contact.messageLabel" }}
    <textarea id="message" name="message" rows="4" cols="50"></textarea>
  </label>

  <input
    type="submit"
    class="a-button"
    data-field="general,request,feedback,accessibility,others"
    style="display:none;"
    value="{{ T "contact.submitButton" }}"
  />
</form>

<script>
  const urlParams = new URLSearchParams(window.location.search);

  window.addEventListener("DOMContentLoaded", () => {
    if (urlParams.get("success") === "true") {
      document.getElementById("form").style.display = "none";
      document.getElementById("success").style.display = "block";
    }
  });

  document.getElementById("topic").addEventListener("change", function () {
    document.querySelectorAll("[data-field]").forEach((field) => {
      field.style.display = "none";
      field
        .querySelectorAll("input, textarea, select")
        .forEach((el) => el.removeAttribute("required"));
    });

    const value = this.value;
    if (value) {
      document.querySelectorAll("[data-field]").forEach((el) => {
        if (el.dataset.field.split(",").includes(value)) {
          el.style.display = "flex";
          el.querySelectorAll("input, textarea, select").forEach((input) =>
            input.setAttribute("required", "required"),
          );
        }
      });
    }
  });
</script>
