{{- $param := .Get 1 -}}
{{ $iconMapping := dict "border" "share_location" "traincategory" "train" "info" "info" }}

<details name="{{ (.Get 2) }}" class="details-screen o-expander">
<summary class="o-expander__summary">
    {{- partial "icon" (index $iconMapping $param) -}}
    <span class="o-expander__summary-text">{{ (.Get 0) }}</span>
</summary>
<hr aria-hidden="true">
<div class="o-expander__content">
    {{ .Inner }}
</div>
</details>

<!--
    Workaround for print version, otherwise the expanders would be closed.
    The workaround can be removed when the following issue is implemented:
    https://github.com/w3c/csswg-drafts/issues/2084
-->
<details open class="details-print o-expander">
<summary class="o-expander__summary">
    <span class="o-expander__summary-text">{{ (.Get 0) }}</span>
</summary>
<hr aria-hidden="true">
<div class="o-expander__content">
    {{ .Inner }}
</div>
</details>
