{{- $param := .Get 1 -}}
{{ $iconMapping := dict "border" "share_location" "traincategory" "train" "info" "info" }}


<details name="{{ (.Get 2) }}" class="o-expander">
  <summary class="o-expander__summary">
    <div class="o-expander__summary-title">
      {{- partial "icon" (index $iconMapping $param) -}}
      <span class="o-expander__summary-text">{{ (.Get 0) }}</span>
    </div>
    {{- partial "icon" "keyboard_arrow_down" -}}
  </summary>
  <hr aria-hidden="true" />
  <div class="o-expander__content">
    {{ .Inner }}
  </div>
</details>
