{{- $data := dict
  "id" (.Get "id")
  "title" (.Get "title")
  "type" (default "regional" (.Get "type"))
  "fip_accepted" (default true (.Get "fip_accepted"))
  "reservation_required" (default false (.Get "reservation_required"))
  "reservation_possible" (default false (.Get "reservation_possible"))
  "risk_of_confusion" (strings.Contains .Inner "m-text-highlight--confusion")
  "important_info" (strings.Contains .Inner "m-text-highlight--important")
  "route_overview_url" (.Get "route_overview_url")
  "additional_information_url" (.Get "additional_information_url")
  "content" (.Inner)
-}}

{{- partial "train-category" $data -}}
