{{- $data := dict
  "title" (.Get "title")
  "type" (default "regional" (.Get "type"))
  "fip_accepted" (default true (.Get "fip_accepted"))
  "reservation_required" (default false (.Get "reservation_required"))
  "reservation_possible" (default false (.Get "reservation_possible"))
  "risk_of_confusion" (default false (.Get "risk_of_confusion"))
  "important_info" (default false (.Get "important_info"))
  "route_overview_url" (.Get "route_overview_url")
  "additional_information_url" (.Get "additional_information_url")
  "content" (.Inner | .Page.RenderString)
-}}

{{- partial "train-category" $data -}}
