{{ define "main" }}
  <article class="o-container o-single o-single--with-sidemenu">
    {{ partial "sidemenu" . }}
    <div class="o-single__content" data-pagefind-body>
      <div class="o-single__container">
        <div class="o-single__content-header">
          <div class="o-single__content-header-title">
            <h1 data-pagefind-meta="title">{{ .Title }}</h1>
          </div>
          {{ partial "updateDate.html" . }}
        </div>
        <div data-pagefind-weight="2.5">
          {{ partial "content" . }}
        </div>
      </div>
      {{ partial "image" (partial "helper/contentImage" . ) }}
    </div>
  </article>
{{ end }}
