name: lint

on:
  push:
    branches: ["**"]
  pull_request:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.14"
      - name: Install npm packages
        run: npm install
      - name: Run prek
        run: uvx prek -a
      - name: Print changed files
        if: failure()
        run: |-
          git add . && git status -vv
